<style>
.offer-section-main {
  background: #FCFCC8;
  padding: 12px 13px 12px 18px;
}
.offer-title {
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: #000000;
  padding-bottom: 12px;
  padding-left: 16px;
}
#offersectioncodeid {
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
  color: #2C2C2C;
  padding-left: 3px;
  text-align: center;
}
.offer-section-code {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #E85A28;
  padding-left: 3px;
}
.offer-section-innr {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}
.offer-section-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #000000;
}
img.offer-section-img {
  width: 35px;
  height: 21px;
  object-fit: contain;
  margin-bottom: 4px;
}
.table-custom{
  margin-bottom : 5px !important;
  border: none !important;
}
.table-custom td{
  padding: 2px !important;
  border: none !important;
}
.offer-section-code{
  font-size:12px !important;
}
#codeprime, #codeseconde, #codethirde {
  text-align: center;
}
  
@media (min-width: 768px) and (max-width: 905px){
  .offer-text-main {
   font-size: 90% !important; 
  }
}
  
@media (max-width: 430px){
  .offer-text-main {
   font-size: 95% !important; 
  }
  #codeprime, #codeseconde, #codethirde {
   text-align: center;
  }
}
  
@media (max-width: 400px){
  .offer-text-main {
      font-size: 9px !important;
  }
  .offer-section-code{
    font-size: 9px !important;
  }
    .table-custom td{
    padding: 0px !important;
  }
  .pr-0px{
    padding-right: 0px !important;
  }
}
</style>

<div class="offer-section-main">
    <div class="row">
    <div class="col-6 offer-title">
      Offers
    </div>
    <div class="col-6" id="offersectioncodeid">
      Tap below to copy the coupon code
    </div>
  </div>
  <div class="two-productscampaign">
    <div class="row one-two1">
    <div class="col-7 pr-0px">
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none"><path d="M4 0L4.89806 2.76393H7.80423L5.45308 4.47214L6.35114 7.23607L4 5.52786L1.64886 7.23607L2.54692 4.47214L0.195774 2.76393H3.10194L4 0Z" fill="#D76339"></path></svg>
    <span class="offer-text-main offer-section-text-custom">Up to 10% Off </span>
    </div>
    <div class="col-5 pr-0px" id="codeprime">
      <svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" viewbox="0 0 7 5" fill="none"> <path d="M6.325 0C6.62875 0 6.875 0.279822 6.875 0.625V1.3202C6.875 1.5103 6.78023 1.68295 6.63202 1.7672L6.60683 1.78042C6.36037 1.89917 6.1875 2.17664 6.1875 2.5C6.1875 2.81404 6.35056 3.08481 6.58572 3.20893L6.61317 3.2226C6.77161 3.29681 6.875 3.47232 6.875 3.66707V4.375C6.875 4.72018 6.62875 5 6.325 5H0.550002C0.246245 5 0 4.72018 0 4.375V3.70895C0 3.50554 0.0996801 3.32006 0.256929 3.22658L0.28223 3.2126C0.521174 3.0902 0.687502 2.81717 0.687502 2.5C0.687502 2.19452 0.533212 1.92999 0.308356 1.80155L0.28104 1.78679C0.110038 1.69965 0 1.50653 0 1.29356V0.625C0 0.279822 0.246245 0 0.550002 0L6.325 0ZM6.31979 0.539099H0.555215C0.479276 0.539099 0.417715 0.609055 0.417715 0.695349V1.18235C0.85327 1.42799 1.13671 1.93471 1.13671 2.5C1.13671 3.06523 0.853321 3.57197 0.417715 3.81765V4.30465C0.417715 4.39095 0.479276 4.4609 0.555215 4.4609H6.31979C6.39573 4.4609 6.45729 4.39095 6.45729 4.30465V3.81767C6.02252 3.57255 5.73829 3.06614 5.73829 2.5C5.73829 1.93414 6.02226 1.42763 6.45729 1.18234V0.695349C6.45729 0.609055 6.39573 0.539099 6.31979 0.539099ZM4.95 3.28125C5.17782 3.28125 5.3625 3.49112 5.3625 3.75C5.3625 4.00888 5.17782 4.21875 4.95 4.21875C4.72218 4.21875 4.5375 4.00888 4.5375 3.75C4.5375 3.49112 4.72218 3.28125 4.95 3.28125ZM4.95 2.03125C5.17782 2.03125 5.3625 2.24112 5.3625 2.5C5.3625 2.75888 5.17782 2.96875 4.95 2.96875C4.72218 2.96875 4.5375 2.75888 4.5375 2.5C4.5375 2.24112 4.72218 2.03125 4.95 2.03125ZM4.95 0.78125C5.17782 0.78125 5.3625 0.991117 5.3625 1.25C5.3625 1.50888 5.17782 1.71875 4.95 1.71875C4.72218 1.71875 4.5375 1.50888 4.5375 1.25C4.5375 0.991117 4.72218 0.78125 4.95 0.78125Z" fill="black"></path> </svg> 
  <span class="offer-section-code" id="offersectioncustom">CODE: <span id="offercustom" onclick="copyDivToClipboard()"></span></span><span id="codeCopyCust" class="copiedcode_text">Code Copied</span>
      
    </div>
  </div>
  <div class="row one-two2">
    <div class="col-12">
    <span class="or-text" style="padding-left:10px;font-size:12px;"><strong></strong>OR</strong></span>
    </div>
  </div> 
  <div class="row offer-2-row">
    <div class="col-7 pr-0px" style="padding-right:0px !important;">
     <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none"><path d="M4 0L4.89806 2.76393H7.80423L5.45308 4.47214L6.35114 7.23607L4 5.52786L1.64886 7.23607L2.54692 4.47214L0.195774 2.76393H3.10194L4 0Z" fill="#D76339"></path></svg>
  <span class="offer-text-main offer-section-text-upsell">Up to 15% Off </span>
     
    </div>
    <div class="col-5 pr-0px" id="codeseconde">
     <svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" viewbox="0 0 7 5" fill="none"> <path d="M6.325 0C6.62875 0 6.875 0.279822 6.875 0.625V1.3202C6.875 1.5103 6.78023 1.68295 6.63202 1.7672L6.60683 1.78042C6.36037 1.89917 6.1875 2.17664 6.1875 2.5C6.1875 2.81404 6.35056 3.08481 6.58572 3.20893L6.61317 3.2226C6.77161 3.29681 6.875 3.47232 6.875 3.66707V4.375C6.875 4.72018 6.62875 5 6.325 5H0.550002C0.246245 5 0 4.72018 0 4.375V3.70895C0 3.50554 0.0996801 3.32006 0.256929 3.22658L0.28223 3.2126C0.521174 3.0902 0.687502 2.81717 0.687502 2.5C0.687502 2.19452 0.533212 1.92999 0.308356 1.80155L0.28104 1.78679C0.110038 1.69965 0 1.50653 0 1.29356V0.625C0 0.279822 0.246245 0 0.550002 0L6.325 0ZM6.31979 0.539099H0.555215C0.479276 0.539099 0.417715 0.609055 0.417715 0.695349V1.18235C0.85327 1.42799 1.13671 1.93471 1.13671 2.5C1.13671 3.06523 0.853321 3.57197 0.417715 3.81765V4.30465C0.417715 4.39095 0.479276 4.4609 0.555215 4.4609H6.31979C6.39573 4.4609 6.45729 4.39095 6.45729 4.30465V3.81767C6.02252 3.57255 5.73829 3.06614 5.73829 2.5C5.73829 1.93414 6.02226 1.42763 6.45729 1.18234V0.695349C6.45729 0.609055 6.39573 0.539099 6.31979 0.539099ZM4.95 3.28125C5.17782 3.28125 5.3625 3.49112 5.3625 3.75C5.3625 4.00888 5.17782 4.21875 4.95 4.21875C4.72218 4.21875 4.5375 4.00888 4.5375 3.75C4.5375 3.49112 4.72218 3.28125 4.95 3.28125ZM4.95 2.03125C5.17782 2.03125 5.3625 2.24112 5.3625 2.5C5.3625 2.75888 5.17782 2.96875 4.95 2.96875C4.72218 2.96875 4.5375 2.75888 4.5375 2.5C4.5375 2.24112 4.72218 2.03125 4.95 2.03125ZM4.95 0.78125C5.17782 0.78125 5.3625 0.991117 5.3625 1.25C5.3625 1.50888 5.17782 1.71875 4.95 1.71875C4.72218 1.71875 4.5375 1.50888 4.5375 1.25C4.5375 0.991117 4.72218 0.78125 4.95 0.78125Z" fill="black"></path> </svg> 
  <span class="offer-section-code" id="offerupsellcode">CODE: <span id="offerupsell" onclick="copyDivToClipboard()"></span></span><span id="codeCopy" class="copiedcode_text" style="display:none;">Code Copied</span>
      
    </div>
  </div>
 </div>

<!-- <div class="row">
    <div class="col-12">
    <span class="or-text" style="padding-left:10px;font-size:12px;"><strong></strong>OR</strong></span>
    </div>
  </div> 
  <div class="row offer-2-row">
    <div class="col-7 pr-0px" style="padding-right:0px !important;">
     <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none"><path d="M4 0L4.89806 2.76393H7.80423L5.45308 4.47214L6.35114 7.23607L4 5.52786L1.64886 7.23607L2.54692 4.47214L0.195774 2.76393H3.10194L4 0Z" fill="#D76339"></path></svg>
     <span class="offer-text-main offer-section-text-upsell"><b>10% Off + Eye Mask</b> *(5% + 5% on Prepaid)</span>  
    </div>
    <div class="col-5 pr-0px" id="codethirde">
     <svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" viewbox="0 0 7 5" fill="none"> <path d="M6.325 0C6.62875 0 6.875 0.279822 6.875 0.625V1.3202C6.875 1.5103 6.78023 1.68295 6.63202 1.7672L6.60683 1.78042C6.36037 1.89917 6.1875 2.17664 6.1875 2.5C6.1875 2.81404 6.35056 3.08481 6.58572 3.20893L6.61317 3.2226C6.77161 3.29681 6.875 3.47232 6.875 3.66707V4.375C6.875 4.72018 6.62875 5 6.325 5H0.550002C0.246245 5 0 4.72018 0 4.375V3.70895C0 3.50554 0.0996801 3.32006 0.256929 3.22658L0.28223 3.2126C0.521174 3.0902 0.687502 2.81717 0.687502 2.5C0.687502 2.19452 0.533212 1.92999 0.308356 1.80155L0.28104 1.78679C0.110038 1.69965 0 1.50653 0 1.29356V0.625C0 0.279822 0.246245 0 0.550002 0L6.325 0ZM6.31979 0.539099H0.555215C0.479276 0.539099 0.417715 0.609055 0.417715 0.695349V1.18235C0.85327 1.42799 1.13671 1.93471 1.13671 2.5C1.13671 3.06523 0.853321 3.57197 0.417715 3.81765V4.30465C0.417715 4.39095 0.479276 4.4609 0.555215 4.4609H6.31979C6.39573 4.4609 6.45729 4.39095 6.45729 4.30465V3.81767C6.02252 3.57255 5.73829 3.06614 5.73829 2.5C5.73829 1.93414 6.02226 1.42763 6.45729 1.18234V0.695349C6.45729 0.609055 6.39573 0.539099 6.31979 0.539099ZM4.95 3.28125C5.17782 3.28125 5.3625 3.49112 5.3625 3.75C5.3625 4.00888 5.17782 4.21875 4.95 4.21875C4.72218 4.21875 4.5375 4.00888 4.5375 3.75C4.5375 3.49112 4.72218 3.28125 4.95 3.28125ZM4.95 2.03125C5.17782 2.03125 5.3625 2.24112 5.3625 2.5C5.3625 2.75888 5.17782 2.96875 4.95 2.96875C4.72218 2.96875 4.5375 2.75888 4.5375 2.5C4.5375 2.24112 4.72218 2.03125 4.95 2.03125ZM4.95 0.78125C5.17782 0.78125 5.3625 0.991117 5.3625 1.25C5.3625 1.50888 5.17782 1.71875 4.95 1.71875C4.72218 1.71875 4.5375 1.50888 4.5375 1.25C4.5375 0.991117 4.72218 0.78125 4.95 0.78125Z" fill="black"></path> </svg> 
     <span class="offer-section-code" id="offerupsellcode1">CODE: <span id="offerupsell1" onclick="copyDivToClipboard()"></span></span><span id="codeCopy1" class="copiedcode_text" style="display:none;">Code Copied</span>   
    </div>
  </div> 
 
     <div class="row">
    <div class="col-12">
     <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none"><path d="M4 0L4.89806 2.76393H7.80423L5.45308 4.47214L6.35114 7.23607L4 5.52786L1.64886 7.23607L2.54692 4.47214L0.195774 2.76393H3.10194L4 0Z" fill="#D76339"></path></svg>
  <span class="offer-text-main offer-section-add-text"><b>Extra 5% off</b> on Prepaid Payment*</span>
    </div>
  </div> -->
  <div class="row" style="margin-top:10px;">
    <div class="col-4">
      <div class="offer-section-innr">
          <img class="offer-section-img" src="https://cdn.shopify.com/s/files/1/0654/4329/9583/files/Group_10.png?v=1679030967" /> 
          <span class="offer-section-text">EARN REWARDS<br/>ON ALL ORDERS</span>
      </div>
    </div>
    <div class="col-4">
      <div class="offer-section-innr">
       <img class="offer-section-img" src="https://cdn.shopify.com/s/files/1/0654/4329/9583/files/Group_8.png?v=1679030967" /> <span class="offer-section-text">NO DELIVERY<br />CHARGES</span>
      </div>
    </div>
    <div class="col-4">
      <div class="offer-section-innr">
       <img class="offer-section-img" src="https://cdn.shopify.com/s/files/1/0654/4329/9583/files/Group_89.png?v=1679030967" /> <span class="offer-section-text">FREE GIFT ON<br />ALL ORDERS</span>
      </div>
    </div>
  </div>
</div>

<script>
const span = document.getElementById("offersection1");
  $('#offercustom').html('GLOW10');
  $('#offerupsell').html('GLOW15');
  // $('#offerupsell1').html('GLOW10');
  $('#codeCopyCust').hide();
 $('#offersectioncustom').click(function(){
  var text = $("#offercustom").get(0)
  var selection = window.getSelection();
  var range = document.createRange();
  range.selectNodeContents(text);
  selection.removeAllRanges();
  selection.addRange(range);
       
document.execCommand('copy');
 $('#codeCopyCust').show();
 $('#offersectioncustom').hide();
  setTimeout(function() {
             // myText.innerHTML = span.innerHTML ;
             $('#offersectioncustom').show();
             $('#codeCopyCust').hide();
          }, 1000)       
});
  
$('#offerupsellcode').click(function(){
  var text = $("#offerupsell").get(0)
        var selection = window.getSelection();
        var range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
       
        document.execCommand('copy');
 $('#codeCopy').show();
 $('#offerupsellcode').hide();
  setTimeout(function() {
             // myText.innerHTML = span.innerHTML ;
             $('#offerupsellcode').show();
             $('#codeCopy').hide();
          }, 1000)
        
});

// $('#offerupsellcode1').click(function(){
//   var text = $("#offerupsell1").get(0)
//         var selection = window.getSelection();
//         var range = document.createRange();
//         range.selectNodeContents(text);
//         selection.removeAllRanges();
//         selection.addRange(range);
       
//         document.execCommand('copy');
//  $('#codeCopy1').show();
//  $('#offerupsellcode1').hide();
//   setTimeout(function() {
//              // myText.innerHTML = span.innerHTML ;
//              $('#offerupsellcode1').show();
//              $('#codeCopy1').hide();
//           }, 1000)   
// });

</script>

<!-- Growlytics -->
<script>
$(document).ready(function () {
    $( '.offercustom').on("click", function(){
     Growlytics.events.track("Copy Code 1",{
       'clicks': "Clicks",                    
      'Product Name': prodName
     });
    });
     });
</script>

<script>
$(document).ready(function () {
    $( '#offerupsellcode').on("click", function(){
     Growlytics.events.track("Copy Code 2",{
       'clicks': "Clicks", 
      'Product Name': prodName
     });
    });
     });
</script>
<!-- end -->