{% assign media_type = media.media_type %}
{% assign image = media.preview_image %}
<div class="carousel-cell" style="opacity:0;">

{%- if media_type == 'image' -%}
  <img data-master="{{image | image_url}}" class="lazyloadt4s t4s-lz--fadeIn" data-src="{{ image | image_url: width: 1000 }}" width="100%" height="100%" alt="prod">
  {% else %}
      {{ media | media_tag: autoplay: true, loop: true, mute:mute, controls: true, preload: "auto", class: 'media-video' }}
  {% endif %}
</div>

