{% schema %}
{
"name": "Collection Image Banner",
"blocks": [
{
"type": "image",
"name": "Collection-Banner",
"settings": [
{
"id": "image_desktop",
"label": "Desktop Image",
"type": "image_picker"
},
{
"id": "image_mobile",
"label": "Mobile Image",
"type": "image_picker"
},
{
"id": "collection_handle",
"label": "Collection Handle",
"type": "text"
}
]
}
],
"presets": [
{
"name": "Collection-Image-Banner",
"category": "Any"
}
]
}
{% endschema %}

<div class="container-banner">
  {% for block in section.blocks %}
    {% if block.settings.collection_handle == collection.handle %}
      <div class="banner desktop-banner">
        {% if block.settings.image_desktop != blank %}
          <img
            class="lazyload"
            loading="lazy"
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50' fill='%23282828'%3E%3Crect x='-50' y='20' width='50' height='10' fill='%23ccc'%3E%3Canimate attributeName='x' attributeType='XML' values='-50;100;' dur='1.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='-50' y='35' width='50' height='10' fill='%23ccc'%3E%3Canimate attributeName='x' attributeType='XML' values='-50;100;' dur='1.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E"
            data-src="{{ block.settings.image_desktop | img_url: 'master' }}"
            alt="Product Image"
          >
        {% endif %}
      </div>

      <div class="banner mobile-banner">
        {% if block.settings.image_mobile != blank %}
          <img
            class="lazyload"
            loading="lazy"
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='50' height='50' fill='%23282828'%3E%3Crect x='-50' y='20' width='50' height='10' fill='%23ccc'%3E%3Canimate attributeName='x' attributeType='XML' values='-50;100;' dur='1.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='-50' y='35' width='50' height='10' fill='%23ccc'%3E%3Canimate attributeName='x' attributeType='XML' values='-50;100;' dur='1.5s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E"
            data-src="{{ block.settings.image_mobile | img_url: 'master' }}"
            alt="Product Image"
          >
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>

<style>
  /* Hide mobile banner by default */
  .mobile-banner {
    display: none;
  }

  /* On mobile screens, hide desktop banner and show mobile banner */
  @media (max-width: 767px) {
    .desktop-banner {
      display: none;
    }

    .mobile-banner {
      display: block;
    }
  }

  /* Banner styles */
  .banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }

  @media screen and (min-width:319px) and (max-width:768px) {
    .template-collection .banner {
      margin: 8px 6px 0px 6px !important;
    }
  }

  @media screen and (min-width:768px) and (max-width:2560px) {
    .template-collection .banner {
      margin: 28px 28px 0px 28px !important;
    }
  }

  .template-collection .banner img {
    border-radius: 4px;
    margin-bottom: 10px;
  }


  /* margin: 8px 6px 0px 6px !important; */
  /* border-radius: 4px; */
</style>
