<picture>
      <source media="(min-width: 1028px)" srcset="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-03.png?v=1718887420 1x, https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-03.png?v=1718887420 2x">
      <source media="(min-width: 768px)"  srcset="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-03.png?v=1718887420 1x, https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-03.png?v=1718887420 2x">
      <source media="(max-width: 768px)"  srcset="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-04.png?v=1718887420 1x, https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-04.png?v=1718887420 2x">
      <img class="gatekeep-banner" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Bodycare_-_Gatekeep_Landing_Page-03.png?v=1718887420" height="100vh" max-width="none" alt="">
      </picture>
      <!-- <div style="margin:0 auto;" class="pxFormGenerator" id="Xws1gROArv-8jRGCLRcA_A"></div> -->
      <div data-tf-live="01J0WJAC2FP9P8Q1395MMS3VRH"></div><script src="//embed.typeform.com/next/embed.js"></script>
      <style>
        img.gatekeep-banner{
          min-height: 100vh;
          object-fit: cover;
        }
      </style>
{% schema %}
  {
    "name": "gatekeep",
    "settings": []
  }
{% endschema %}