<div class="gatekeep-banner-wrap">
  <div class="gatekeep-img-wrap">
    <img class="gatekeep-img" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Screenshot_2024-06-21_at_10.58.42_AM.png?v=1718947848" height="auto" max-width="100%" alt="">
  </div>
  <div class="gatekeep-content">
    <h2>Works like Skincare,<br>Wears like Perfume</h2>
    <h4>We like to keep things exclusive.<br>Want to be in on the secret?</h4>
  </div>
</div>
<div style="margin:0 auto;" class="pxFormGenerator gatekeep-form-wrap" id="Xws1gROArv-8jRGCLRcA_A"></div>
<div class="gatekeep-after-form"><h2>INVITE ONLY.</h2></div>

    <div class="faq_section">
      <div class="faq_item vitC_faq">
    <div class="faq_que" data-faq-id="faq-que-1">
        <h3>FAQs</h3>
    </div>
        <div class="faq_ans" id="faq-que-1">
            <h4>1. How is the Exfoliating Toner by Foxtale different from other toners?</h4>
            <p>Foxtale’s Exfoliating Toner gently removes excess sebum and impurities from the skin without stripping its natural oils. Additionally, this alcohol-free face toner hydrates the skin while ensuring a brightening effect.</p>
            <h4>2. Why should I use the Exfoliating Toner by Foxtale?</h4>
            <p>It has a triple-action formula that helps exfoliate, brighten, and hydrate your skin. This alcohol-free toner helps attain</p>
            <ul>
            <li>Prolonged hydration for skin with Hyaluronic Acid</li>
            <li>Smaller-looking, tighter, and unclogged pores with Lactic Acid</li>
            <li>Brightened, balanced skin with Niacinamide</li>
            </ul>
            <h4>3. How does the Exfoliating Toner by Foxtale help improve skin texture?</h4>
            <p>Our alcohol-free face toner carries Lactic Acid that sloughs off dead cells and debris from the skin – revealing a bright surface sitting underneath. Moreover, Niacinamide in this formulation regulates oil production and minimizes pores’ appearance for smoother, glowing skin.</p>
            <h4>4. Does this Lactic Acid toner also help reduce whiteheads and blackheads?</h4>
            <p>Absolutely! It is one of the best toners for whiteheads and blackheads. Whiteheads and blackheads occur when oil, dead cells, and debris get trapped in your pores. Our Exfoliating Toner removes these deep-seated impurities from the skin for its soft, radiant appearance. </p>
            <h4>5. Why do I need a hydrating toner for oily skin?</h4>
            <p>Your skin’s greasiness doesn’t compensate for the lack of hydration. In fact, dehydrated skin triggers the sebaceous glands into overdrive mode – proving counterproductive to efforts for a balanced microbiome. Our hydrating toner casts away the excess shine from the skin for an oil-free glow. </p>
            <h4>6. Why do I need an alcohol-free toner?</h4>
            <p>An alcohol-based toner dehydrates your skin and impairs the skin barrier. Additionally, it also leads to irritation, inflammation, and redness on the dermis.</p>
            <h4>7. Can I also use this hydrating toner for combination skin?</h4>
            <p>Yes! You can use this hydrating face toner for the combination skin type. Foxtale’s Smooth Talk Toner  boasts Hyaluronic Acid that ensures sustained hydration for your skin. It also contains Niacinamide that controls oil production and prevents clogged pores – perfect for your T-zone and forehead areas.</p>
            <h4>8. Can I use Foxtale’s Exfoliating Toner every day?</h4>
            <p>Absolutely. Add this skin-brightening toner to your morning and nighttime skincare routine every day. Take a few drops of the Smooth Talk Toner on a cotton pad and gently dab it on your face.</p>
            <h4>9. What is the best exfoliating toner?</h4>
            <p>Foxtale’s Smooth Talk has a triple-action formula that combines exfoliating, brightening, and hydrating properties. The Lactic Acid toner expertly removes dead cells, debris, and pollutants from the pores, ensuring smooth, lit-from-within skin.</p>
            <h4>10. Can I use Foxtale’s Exfoliating Toner for acne-prone/oily skin?</h4>
            <p>Yes! Our Exfoliating Toner is exceptional for oily and acne-prone skin due to the following reasons</p>
            <ul>
            <li>The Niacinamide toner controls sebum production and unclogs pores, ensuring smooth, soft skin. It is also a great pore tightening toner for oily skin.</li>
            <li>Lactic Acid in this formulation buffs away excess oil, impurities, and debris to control acne and prevent future breakouts.</li>
            <li>This Hyaluronic Acid toner ensures a big boost of hydration for the skin that helps offset inflammation, irritation or rashes.</li>
            </ul>
        </div>
   </div>
</div>

<script>
  const metaaa= `{{ product.metafields.global.faq-section }}`;
const parser = new DOMParser();
const doc = parser.parseFromString(metaaa, 'text/html');

const faqList = [];

const questions = doc.querySelectorAll('h4');
const answers = doc.querySelectorAll('p');

questions.forEach((question, index) => {
    const questionText = question.textContent.trim();
    const answerText = answers[index].textContent.trim();

    const faq = {
        "@type": "Question",
        "name": `Question ${index + 1}`,
        "acceptedAnswer": {
            "@type": "Answer",
            "text": answerText
        }
    };

    faqList.push(faq);
});

   const ldJsonScriptt = document.createElement('script');
    ldJsonScriptt.type = 'application/ld+json';
    ldJsonScriptt.innerHTML = JSON.stringify({
      "@context": "https://schema.org",
     "@type": "FAQPage",
      "mainEntity": faqList
    });
    document.body.appendChild(ldJsonScriptt);
  
  

</script>

  <script>
     $(document).ready(function () {
    $( '.faq_que h3').on("click", function(){
    var faq = $(this).text();
     //console.log(faq);
       Growlytics.events.track("Product information section Clicks",{
      'Tab Name': faq
     });
    });
     });
 </script>
<style>
  .gatekeep-banner-wrap{
    display:flex;
    padding:30px;
    background-color: #e0024d;
  }
  .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
    width:50%;
  }
  .gatekeep-content {
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .gatekeep-content h2,.gatekeep-content h4 {
    color: #fff;
  }
  .gatekeep-content h2{
    font-family: math;
    letter-spacing: 2px;
  }
  .gatekeep-content h4 {
    letter-spacing: 2px;
    font-weight: 400;
  }
  #shopify-section-gatekeep {
    background: #e0024d;
    overflow: hidden;
  }
  .gatekeep-form-wrap {
    max-height: 410px;
    overflow: hidden;
  }
  .gatekeep-after-form {
    text-align: center;
    padding-bottom: 50px;
  }
  .gatekeep-after-form h2 {
    color: #fff;
    font-size: 22px;
  }
  @media only screen and (max-width: 768px) {
    .gatekeep-banner-wrap{
      flex-direction: column;
      gap: 30px;
    }
    .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
      width:100%;
    }
  }
</style>
{% schema %}
  {
    "name": "gatekeep",
    "settings": []
  }
{% endschema %}