<div class="gatekeep-banner-wrap">
  <div class="gatekeep-img-wrap">
    <img class="gatekeep-img" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Screenshot_2024-06-21_at_10.58.42_AM.png?v=1718947848" height="auto" max-width="100%" alt="">
  </div>
  <div class="gatekeep-content">
    <h2>Works like Skincare,<br>Wears like Perfume</h2>
    <h4>We like to keep things exclusive.<br>Want to be in on the secret?</h4>
  </div>
</div>
<div style="margin:0 auto;" class="pxFormGenerator gatekeep-form-wrap" id="Xws1gROArv-8jRGCLRcA_A"></div>
<div class="gatekeep-after-form"><h2>INVITE ONLY.</h2></div>

    <div class="faq_section">
      <h2>Got questions? We’ve got answers.</h2>
      <div class="faq_item vitC_faq">
      <div class="faq_que" data-faq-id="faq-que-1">
          <h3>1. What is gatekeeping?</h3>
      </div>
      <div class="faq_ans" id="faq-que-1">
          <p>Gatekeeping is the act of controlling, and usually limiting, general access to something.</p>
          <p>Something you’d like to keep exclusive so you wouldn’t want EVERYONE to know!</p>
      </div>
        </div>
<div class="faq_item vitC_faq">
      <div class="faq_que" data-faq-id="faq-que-2">
          <h3>2. What does it mean when someone says you're gatekeeping?</h3>
      </div>
      <div class="faq_ans" id="faq-que-2">
          <p>Imagine this: There’s a cool club in town and everyone wants to be there. But the club wants to keep things exclusive. So there’s a bouncer standing guard – this is the ultimate gatekeeper. They decide who gets to enter and join in on the fun. He’s gatekeeping the club.</p>
          <p>In our case, we’re gatekeeping something that works like skincare and wears like perfume. </p>
      </div>
  </div>
<div class="faq_item vitC_faq">
      <div class="faq_que" data-faq-id="faq-que-3">
          <h3>3. Who is the gatekeeper here?</h3>
      </div>
      <div class="faq_ans" id="faq-que-3">
          <p>Can’t tell you that just yet! We’re gatekeeping that information ‘cause we’d like to keep things exclusive. Why don’t you sign up to find out? </p>
      </div>
        
   </div>
</div>

<!-- <script>
  const metaaa= `{{ product.metafields.global.faq-section }}`;
const parser = new DOMParser();
const doc = parser.parseFromString(metaaa, 'text/html');

const faqList = [];

const questions = doc.querySelectorAll('h4');
const answers = doc.querySelectorAll('p');

questions.forEach((question, index) => {
    const questionText = question.textContent.trim();
    const answerText = answers[index].textContent.trim();

    const faq = {
        "@type": "Question",
        "name": `Question ${index + 1}`,
        "acceptedAnswer": {
            "@type": "Answer",
            "text": answerText
        }
    };

    faqList.push(faq);
});

   const ldJsonScriptt = document.createElement('script');
    ldJsonScriptt.type = 'application/ld+json';
    ldJsonScriptt.innerHTML = JSON.stringify({
      "@context": "https://schema.org",
     "@type": "FAQPage",
      "mainEntity": faqList
    });
    document.body.appendChild(ldJsonScriptt);
  
  

</script>
<script>
     $(document).ready(function () {
    $( '.faq_que h3').on("click", function(){
    var faq = $(this).text();
     //console.log(faq);
       Growlytics.events.track("Product information section Clicks",{
      'Tab Name': faq
     });
    });
     });
 </script> -->
 
<style>
  .gatekeep-banner-wrap{
    display:flex;
    padding:30px;
    background-color: #e0024d;
  }
  .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
    width:50%;
  }
  .gatekeep-content {
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .gatekeep-content h2,.gatekeep-content h4 {
    color: #fff;
  }
  .gatekeep-content h2{
    font-family: math;
    letter-spacing: 2px;
  }
  .gatekeep-content h4 {
    letter-spacing: 2px;
    font-weight: 400;
  }
  #shopify-section-gatekeep {
    background: #e0024d;
    overflow: hidden;
  }
  .gatekeep-form-wrap {
    max-height: 410px;
    overflow: hidden;
  }
  .gatekeep-after-form {
    text-align: center;
    padding-bottom: 50px;
  }
  .gatekeep-after-form h2 {
    color: #fff;
    font-size: 22px;
  }
  @media only screen and (max-width: 768px) {
    .gatekeep-banner-wrap{
      flex-direction: column;
      gap: 30px;
    }
    .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
      width:100%;
    }
  }

  #shopify-section-gatekeep h3 {
    font-size: 20px;
    color: #fff;
    text-align: left;
  }
  #shopify-section-gatekeep .faq_item h4,#shopify-section-gatekeep .faq_item p{
    color: #fff;
    text-align: left;
  }
  #shopify-section-gatekeep .faq_section{
    padding: 0 10px 30px;
  }
</style>
{% schema %}
  {
    "name": "gatekeep",
    "settings": []
  }
{% endschema %}