<div class="gatekeep-banner-wrap">
  <div class="gatekeep-img-wrap">
    <img class="gatekeep-img" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Screenshot_2024-06-21_at_10.58.42_AM.png?v=1718947848" height="auto" max-width="100%" alt="">
  </div>
  <div class="gatekeep-content">
    <h2>Works like Skincare,<br>Wears like Perfume</h2>
    <h4>We like to keep things exclusive.<br>Want to be in on the secret?</h4>
  </div>
</div>
<div style="margin:0 auto;" class="pxFormGenerator gatekeep-form-wrap" id="Xws1gROArv-8jRGCLRcA_A"></div>
<div class="gatekeep-after-form"><h2>INVITE ONLY.</h2></div>
<style>
  .gatekeep-banner-wrap{
    display:flex;
    padding:30px;
    background-color: #e0024d;
  }
  .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
    width:50%;
  }
  .gatekeep-content {
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .gatekeep-content h2,.gatekeep-content h4 {
    color: #fff;
  }
  .gatekeep-content h2{
    font-family: math;
    letter-spacing: 2px;
  }
  .gatekeep-content h4 {
    letter-spacing: 2px;
  }
  div#shopify-section-gatekeep {
    background: #e0024d;
  }
  .gatekeep-form-wrap {
    max-height: 410px;
    overflow: hidden;
  }
  .gatekeep-after-form {
    text-align: center;
    padding-bottom: 50px;
  }
  .gatekeep-after-form h2 {
    color: #fff;
    font-size: 22px;
  }
  @media only screen and (max-width: 768px) {
    .gatekeep-banner-wrap{
      flex-direction: column;
      gap: 30px;
    }
    .gatekeep-banner-wrap .gatekeep-contet,.gatekeep-banner-wrap .gatekeep-img-wrap{
      width:100%;
    }
  }
</style>
{% schema %}
  {
    "name": "gatekeep",
    "settings": []
  }
{% endschema %}