<div class="gatekeep-banner-wrap">
  <div>
    <img class="gatekeep-banner" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Screenshot_2024-06-21_at_10.58.42_AM.png?v=1718947848" height="auto" max-width="100%" alt="">
  </div>
  <div class="gatekeep-content">
    <h2>Works like Skincare,<br>Wears like Perfume</h2>
    <h4>We like to keep things exclusive.<br>Want to be in on the secret?</h4>
  </div>
</div>
<!-- <div style="margin:0 auto;" class="pxFormGenerator" id="Xws1gROArv-8jRGCLRcA_A"></div> -->
<div data-tf-live="01J0WJAC2FP9P8Q1395MMS3VRH"></div><script src="//embed.typeform.com/next/embed.js"></script>
<s>
{% schema %}
  {
    "name": "gatekeep",
    "settings": []
  }
{% endschema %}