
<style>
  @keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .app-logo-carousel-auto {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: rgba(255, 106, 0, 0.04);
    line-height: 0;
  }

  .app-logo-carousel-auto:before, 
  .app-logo-carousel-auto:after {
    position: absolute;
    top: 0;
    content: '';
    z-index: 2;
  }

  .app-logo-carousel-auto .slider {
    display: inline-block;
    animation: 120s slides infinite linear;
    color: #FF6A00;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .app-logo-carousel-auto:hover .slider {
    animation-play-state: paused;
  }

  .app-logo-carousel-auto p {
    margin-bottom: 0;
  }

  .app-logo-carousel-auto p span {
    margin: 0 16px;
  }
</style>


<div class="app-logo-carousel-auto">
  <div class="slider">
        <p>
    {% for i in (1..20) %}
      {% for block in section.blocks %}
        <span>
        <svg width="7" height="7" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="sparkle" d="M6.86609 3.31484L5.86183 3.02723C5.40958 2.89945 4.99762 2.6575 4.66537 2.32453C4.33312 1.99156 4.09169 1.5787 3.96419 1.12548L3.6772 0.119036C3.66277 0.0838245 3.63822 0.0537074 3.60666 0.032512C3.57511 0.0113167 3.53798 0 3.5 0C3.46202 0 3.42489 0.0113167 3.39334 0.032512C3.36178 0.0537074 3.33723 0.0838245 3.3228 0.119036L3.03581 1.12548C2.90831 1.5787 2.66688 1.99156 2.33463 2.32453C2.00238 2.6575 1.59042 2.89945 1.13817 3.02723L0.133905 3.31484C0.0953448 3.3258 0.0614068 3.34908 0.0372408 3.38113C0.0130749 3.41318 0 3.45225 0 3.49242C0 3.53259 0.0130749 3.57167 0.0372408 3.60371C0.0614068 3.63576 0.0953448 3.65904 0.133905 3.67001L1.13817 3.95761C1.59042 4.08539 2.00238 4.32734 2.33463 4.66031C2.66688 4.99329 2.90831 5.40614 3.03581 5.85936L3.3228 6.8658C3.33374 6.90445 3.35697 6.93846 3.38895 6.96268C3.42093 6.9869 3.45992 7 3.5 7C3.54008 7 3.57907 6.9869 3.61105 6.96268C3.64303 6.93846 3.66626 6.90445 3.6772 6.8658L3.96419 5.85936C4.09169 5.40614 4.33312 4.99329 4.66537 4.66031C4.99762 4.32734 5.40958 4.08539 5.86183 3.95761L6.86609 3.67001C6.90465 3.65904 6.93859 3.63576 6.96276 3.60371C6.98693 3.57167 7 3.53259 7 3.49242C7 3.45225 6.98693 3.41318 6.96276 3.38113C6.93859 3.34908 6.90465 3.3258 6.86609 3.31484Z" fill="#FF6A00"/>
        </svg>
        </span>
        {{ block.settings.heading }}
      {% endfor %}                 
    {% endfor %}
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Marquee",
    "settings": [
      
    ],
     "blocks": [
    {
      "name": "Custom Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "24/7"
        },
      ],
    }
     ],
        "presets": [
      {
        "name": "Custom Marquee",
        "category": "Any"
      }
    ]
  }
{% endschema %}