<style>
  .custom-bkgrndimg {
    background-image: url(https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Homepage_-_Desktop-03.png?v=1721655482);
    width: 100%;
    height: 573px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
  .custom-box {
    position: absolute;
    top: 5rem;
    left: 38%;
  }
  .custom-box h6 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.2px;
    padding-bottom: 30px;
  }
  .custom-box h5 {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 55px;
    font-size: 35px;
    font-weight: 400;
    max-width: 818px;
    padding-bottom: 25px;
  }
  .custom-box h5 span img {
    width: 42px;
    height: 42px;
  }
  .ownername-bnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ownername {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
  .ownername h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
  }
  .ownername h3 {
    font-size: 20px;
    color: #000000;
  }
  .ownername-bnt .button {
    border-radius: 8px;
    border: 1px solid var(--Base-Black, #000);
    background: var(--Base-Black, #000);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #ffffff;
    line-height: 30px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
    padding: 20px 35px;
  }
</style>

<div class="custom-bkgrndimg">
  <div class="custom-box">
    <h6>Speaking to 3000+ Women Made Me Realize</h6>
    <h5>To Create<span><img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Icons-01.png?v=1721661747"></span><b>High-Performing Products</b> we must go beyond the 5 conventional skin types and<span><img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Icons-06.png?v=1721661748"></span><b>Solve for more than 350+ skin profiles in<span><img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Icons-05.png?v=1721661748"></span>India.</b></h5>
    <h6>And that's how products that #workswonders was born.</h6>
    <div class="ownername-bnt">
      <div class="ownername">
        <h4>Romita Mazumdar</h4>
        <h3>FOUNDER & CEO, FOXTALE</h3>
      </div>
      <a class="button">ABOUT US</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text on Image",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Text on Image"
      }
    ]
  }
{% endschema %}