<style>
.custom-kbwrap {

}
.custom-kbwrap h4 {
  color: #333;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  margin-bottom: 13px;
}
.kbwrap {

}
.kb-c {
  display: flex;
  flex-wrap: wrap;
  grid-column-gap: 18px;
  grid-row-gap: 10px;
}
.kb-cgd {
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1.47px solid #E9E5E5;
  justify-content: center;
  padding: 5px 15px 5px 9px;
}
.kb-cgd img {
  width: 30px;
  height: 30px;
}
.kb-chngd {
  display: grid;
  grid-template-columns: 25% 75%;
}
.kb-chngd h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  opacity: 0.5; 
  color: #333;
}
.kb-chngd p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
}
.custom-kbwrap h5 {
  color: #484848;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; 
}

@media (max-width: 768px) {
  .custom-kbwrap {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0 !important;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
  }
  .kb-chngd h6 {
    font-size: 12px;
    line-height: 24px;
  }
  .custom-kbwrap h4 {
    font-size: 14px;
    margin-bottom: 9px;
    line-height: 24px;
  }
  .kb-cgd {
    padding: 4px 15px 4px 9px;
  }
  .kbwrap {
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    margin-bottom: 8px;
  }
  .custom-kbwrap h5 {
    font-size: 12px;
    margin: 0px 0;
  }
  .kb-chngd p {
    font-size: 12px;
    line-height: 24px;
  }
  .nx {
   display: none;
  }
}
</style>

<div class="custom-kbwrap">
<h4>
  Product Details
</h4>
<div class="kbwrap">
  <div class="kb-chngd">
    <h6>Skin Type</h6>
    <p>All Skin Type</p>
  </div>
  <div class="kb-chngd">
    <h6>Routine</h6>
    <p>AM/PM</p>
  </div>
  <div class="kb-chngd">
    <h6>Ingredients</h6>
    <p>15% L-Ascorbic Acid, 1% Vitamin, Diacaprylyl carbonate</p>
  </div>
  <div class="kb-chngd" style="padding-top: 16px;">
    <h6>Concerns</h6>
    <div class="kb-c">
      <div class="kb-cgd">
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/5cd58b02f874279424cf3facf01b19db.png?v=1714045492">
        <h5>Acne</h5>
      </div>
      <div class="kb-cgd">
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/5cd58b02f874279424cf3facf01b19db.png?v=1714045492">
        <h5>Pigmentation</h5>
      </div>
      <div class="kb-cgd">
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/5cd58b02f874279424cf3facf01b19db.png?v=1714045492">
        <h5>Dark Spots</h5>
      </div>
      <div class="kb-cgd">
        <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/5cd58b02f874279424cf3facf01b19db.png?v=1714045492">
        <h5>Dryness</h5>
      </div>
    </div>
  </div>
</div>
</div>