<div class="read-more-sec t4s-container">
  <div class="read-more-wrap">
    {% if collection.metafields.custom.viewmoreless != blank %}
      {{ collection.metafields.custom.viewmoreless }}
    {% endif %}
  </div>
</div>

<script>
  jQuery(document).ready(function(){

    var first_child = $('.read-more-wrap').children(':first-child');
    var first_two_child = $('.read-more-wrap').children(':nth-child(1)').add('.read-more-wrap :nth-child(2)');
    var only_second_child = $('.read-more-wrap').children(':nth-child(2)');

     if ($('.read-more-wrap').children().length > 1) {
      $('.read-more-wrap').after('<div><a href="javascript:;" class="showMore"></a></div>');
     }
  // $('.read-more-wrap').children().slice(0, 2).show();
  // $('.read-more-wrap').children().slice(2).hide();

    
  // If more than 2 Education items, hide the remaining
	$('.read-more-wrap').children().slice(0,2).addClass('shown');
	$('.read-more-wrap').children().not('.shown').hide();
	$('.read-more-sec .showMore').on('click',function(){
		$('.read-more-wrap').children().not('.shown').toggle(300);
		$(this).toggleClass('showLess');
	});

});
</script>
<style>
  .read-more-sec a.showMore {
    display:block;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    margin:20px 10px;
    color:#0077C8;
    text-decoration:none;
    text-align: center;
    &::after {
      content:'+ VIEW MORE';
    }
    &.showLess::after {
      content:'- VIEW LESS';
    }
  }
</style>
{% schema %}
  {
    "name": "Read More Read Less",
    "settings": [],
    "presets": [
      {
        "name": "Read More Text"
      }
    ]
  }
{% endschema %}