<div class="container mt__60 mb__60 rtet4">
  <style>
    body {color: #000;}
    .container.mt__60 {margin-top: 0;}
    [data-widget-type="rewards-how-it-works"] .stamped-rewards-widget-number {background-color: #e85a28 !important;}
    [data-widget-type="rewards-earnings-v2"] .stamped-rewards-widget-campaign-image > i, [data-widget-type="rewards-earnings-v2"] .stamped-rewards-widget-campaign-image > i:before, [data-widget-type="rewards-spendings"] .stamped-rewards-widget-campaign-image > i, [data-widget-type="rewards-spendings"] .stamped-rewards-widget-campaign-image > i:before {color: #e85a28 !important;}
    [data-widget-type="rewards-referral"] {margin-bottom: 50px !important;}
    [data-widget-type="rewards-summary"] {padding: 0 0 50px !important;}
    [data-widget-type="rewards-summary"] .stamped-rewards-widget-text {font-size: 18px !important;}
    [data-widget-type="rewards-summary"] .stamped-rewards-widget-title {font-weight: 500;}
    [data-widget-type="rewards-referral"] .stamped-rewards-widget-heading-sub, [data-widget-type="rewards-referral"] div[data-target-id="section-email-customer"], [data-widget-type="rewards-referral"] div[data-target-id="section-email-friend"], [data-widget-type="rewards-referral"] .stamped-rewards-widget-description, [data-widget-type="rewards-referral"] .stamped-rewards-widget-heading-main {display: none !important;}
    [data-widget-type="rewards-how-it-works"] .stamped-rewards-widget-heading-main, [data-widget-type="rewards-earnings-v2"] .stamped-rewards-widget-heading-main, [data-widget-type="rewards-spendings"] .stamped-rewards-widget-heading-main, [data-widget-type="rewards-activities"] .stamped-rewards-widget-heading-main {font-size: 23px !important; font-weight: 500; margin-bottom: 20px !important;}
    .stamped-rewards-widget-how-it-works {padding: 0 0 50px !important;}
    .stamped-rewards-widget-btn {border: 3px solid transparent !important; padding: 11px 56px !important;}
    .stamped-rewards-widget-btn.stamped-rewards-widget-btn-sign-up, .stamped-rewards-widget-btn.stamped-rewards-widget-btn-redeem {color: #fff;}
    .stamped-rewards-widget-btn.stamped-rewards-widget-btn-sign-in, .stamped-rewards-widget-btn.stamped-rewards-widget-btn-rewards-history {border: 3px solid #000 !important;}
    .rewards-content {text-align: left;}
    .rewards-content .reward-box {max-width: 1200px; width: 100%; margin: 0 auto; padding: 20px 20px;}
    .referal-heading-main, .rewards-heading-main {font-size: 36px; text-align: center; margin: 50px auto 20px; text-transform: initial; letter-spacing: 1px;}
    .rhedinng {
      font-size: 23px !important;
      font-weight: 500;
      margin-bottom: 20px !important;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1.4;
      color: #222222;
      padding-top: 12px;
    }
    .below-number {
      font-weight: 600;
      font-size: 23px;
      color: #000;
      margin: 15px 0 10px;
    }
    .flexy {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0 0 50px !important;
    }
    .gridy {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 0 50px !important;
    }
    .mrhedding {
      margin: 25px 0 0 0 !important;
      padding: 0 0 30px !important;
      border-bottom: 1px solid #eaeaec;

    }
    .mrhedding h2 {
      font-size: 36px;
      line-height: 1.2;
      font-weight: 500;
      text-align: center;
      padding-bottom: 1px;
    }

    @media (max-width: 768px) {
     .flexy, .gridy {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  </style>
  {% comment %}{% if customer %}{% else %}{% endif %}{% endcomment %}
  <div class="oh pr nt_img_txt" style="margin-left: -15px; margin-right: -15px; padding-bottom: 50px;">
    <div class="dek_img_slide">
      <img
        src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/DESKTOP_50.jpg?v=1716367376"
        alt="Referral and Rewards"
        style="display: block; margin-left: auto; margin-right: auto;"
      >
    </div>
    <div class="mb_img_slide">
      <img
        src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/MOBILE_51.jpg?v=1716367375"
        alt="Referral and Rewards"
        style="display: block; margin-left: auto; margin-right: auto;"
      >
    </div>
  </div>
  <div class="mrhedding">
    <h2>Foxtale Rewards</h2>
    <p class="below-number" style="font-size: 16px;font-weight: 400;text-align: center;padding-bottom: 10px;">Earn points everytime you shop!</p>
    <a id="kp-login-button-header-logo" style="text-decoration: none;border-bottom: 0px solid currentColor;background: #eee;color: #000;padding: 5px 15px;cursor: pointer;border: none;font-size: 1em;width: 150px;display: flex;justify-content: center;margin: 0 auto;" onclick="nonSocialloadIframe()"><h6>Join Now</h6></a>
  </div>
  {% comment %}
  <h2 class="referal-heading-main">Refer and Earn</h2>
  {% if customer %}
    <div class="stamped-rewards-page-refer-section-holder" style="text-align: center;">
      <p class="stamped-rewards-page-text stamped-rewards-widget-description">
        Get ready to get amazing discounts, exclusive offers and first dibs at all our new launches with this reward
        program.
      </p>
      <p
        class="stamped-rewards-page-text stamped-rewards-widget-description"
        style="font-size: 16px; font-weight: 600;"
      >
        Refer your friends and family to Foxtale and Get ₹250 OFF on your next purchase and they Get a ₹100 discount
        coupon. So, get your address book ready and start cashing in the rewards.
      </p>
    </div>
    <div id="stamped-rewards-widget" data-widget-type="rewards-referral"></div>
  {% else %}
    <div class="stamped-rewards-page-refer-section-holder" style="text-align: center;">
      <p class="stamped-rewards-page-text stamped-rewards-widget-description">
        Get ready to get amazing discounts, exclusive offers and first dibs at all our new launches with this reward
        program.
      </p>
      <p class="stamped-rewards-page-text stamped-rewards-widget-description">
        If you don’t have an account with us, sign up or if you are an existing customer, just log in, and refer your
        friends and family to Foxtale.
      </p>
      <!-- <a href="" class="stamped-rewards-page-text stamped-rewards-widget-description" onclick="event.preventDefault(); nonSocialloadIframe()">
         <p style="color: #000;" class="stamped-rewards-page-text stamped-rewards-widget-description">Click <span style="border-bottom: 1px solid blue; color: blue;">here</span> to get your referral code</p>
      </a> -->
      <p
        class="stamped-rewards-page-text stamped-rewards-widget-description"
        style="font-size: 16px; font-weight: 600;"
      >
You get 250 Fox Charms and they get a ₹100 discount coupon. 
So, get your address book ready and start cashing in the rewards!
      </p>
    </div>
  {% endif %}
  <h2 class="rewards-heading-main">Rewards Program</h2>
  {% endcomment %}
  <h2 class="rhedinng">How it Works</h2>
  <div class="flexy">
    <div style="padding-top: 1.5rem; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="background-color: #e85a28 !important; height: 40px; width: 40px; border-radius: 100%; display: flex; align-items: center; justify-content: center;"><span style="font-weight: 600;color: #fff;font-size: 16px;">1</span></div>
      <p class="below-number">Join</p>
      <a id="kp-login-button-header-logo" style="text-decoration: none;border-bottom: 0px solid currentColor;" onclick="nonSocialloadIframe()"><h6 style="font-weight: 400;"><span style="border-bottom: 1px solid blue; color: blue;">Login</span> to your Foxtale account</h6></a>
    </div>
    <div style="padding-top: 1.5rem; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="background-color: #e85a28 !important; height: 40px; width: 40px; border-radius: 100%; display: flex; align-items: center; justify-content: center;"><span style="font-weight: 600;color: #fff;font-size: 16px;">2</span></div>
      <p class="below-number">Earn Points</p>
      <h6 style="font-weight: 400;">10 Fox charms on every ₹100 spent </h6>
    </div>
    <div style="padding-top: 1.5rem; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div style="background-color: #e85a28 !important; height: 40px; width: 40px; border-radius: 100%; display: flex; align-items: center; justify-content: center;"><span style="font-weight: 600;color: #fff;font-size: 16px;">3</span></div>
      <p class="below-number">Redeem</p>
      <h6 style="font-weight: 400;">At Checkout, apply loyalty discount</h6>
    </div>
  </div>
  <h2 class="rhedinng">Ways to Earn Points</h2>
  <div class="gridy">
    <div style="padding: 20px;text-align: center; margin: 10px;border: 1px solid #ccc; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img style="margin-bottom: 15px; width: 50px; height: 50px;" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Untitled-5-04.png?v=1716309390">
      <h6 style="margin-bottom: 5px; font-weight: bold;">Celebrate a birthday</h6>
      <p style="margin: 10px 0 20px 0;">250 Fox Charms</p>
      
    </div>
    <div style="padding: 20px;text-align: center; margin: 10px;border: 1px solid #ccc; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img style="margin-bottom: 15px; width: 50px; height: 50px;" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Untitled-5-05.png?v=1716309389">
      <h6 style="margin-bottom: 5px; font-weight: bold;">Follow us on Instagram</h6>
      <p style="margin: 10px 0 20px 0;">250 Fox Charms</p>
      
    </div>
    <div style="padding: 20px;text-align: center; margin: 10px;border: 1px solid #ccc; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img style="margin-bottom: 15px; width: 50px; height: 50px;" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Untitled-5-06.png?v=1716309390">
      <h6 style="margin-bottom: 5px; font-weight: bold;">Refer a Friend</h6>
      <p style="margin: 10px 0 20px 0;">250 Fox Charms</p>
      
    </div>
    <div style="padding: 20px;text-align: center; margin: 10px;border: 1px solid #ccc; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img style="margin-bottom: 15px; width: 50px; height: 50px;" src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/REWARD_ICON-07.png?v=1716309390">
      <h6 style="margin-bottom: 5px; font-weight: bold;">Create an account</h6>
      <p style="margin: 10px 0 20px 0;">250 Fox Charms</p>
      
    </div>
  </div>
  <a style="text-decoration: none;border-bottom: 0px solid currentColor;background: #eee;color: #000;padding: 5px 15px;cursor: pointer;border: none;font-size: 1em;width: 150px;display: flex;justify-content: center;margin: 0 auto;" onclick="socialloadIframe()"><h6>Earn Now</h6></a>

{% schema %}
  {
    "name": "Rewards",
    "settings": [],
    "presets": [
      {
        "name": "Rewards"
      }
    ],
    "templates": [
      "page"
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}