<style>
.uni-wrapper {
  
}
.uni-wrapper h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
}
.uni-outwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-top: 17px;
}
.uni-innerwrapper {
  display: flex;
  align-items: center;
}
.uni-innerwrapper img {
  /* height: 120px; */
  width: 120px;
}
.uni-innerwrapper h4 {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-left: 6px;
  max-width: 380px;
}

@media (max-width: 768px) {
  .uni-outwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
  }
  .uni-innerwrapper img {
    height: 86px;
    width: 86px;
  }
  .uni-wrapper h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .uni-innerwrapper h4 {
    font-size: 12px;
    line-height: 20px;
    max-width: 300px;
    padding-left: 12px;
  }
}
</style>

<div class="uni-wrapper">
  <h3>What makes it Unique</h3>
  <div class="uni-outwrapper">
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/NIACINAMIDE_SERUM_CREATIVE_Revised_WMIU-08.jpg?v=1715150440">
      <h4>Description will come here. Discription will come here.Discription will come here.Discription will come here. Discription will come here.</h4>
    </div>
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/NIACINAMIDE_SERUM_CREATIVE_Revised_WMIU-09.jpg?v=1715150440">
      <h4>Description will come here. Discription will come here.Discription will come here.Discription will come here. Discription will come here.</h4>
    </div>
  </div>
</div>