<style>
  .stat-pik {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
</style>

<div class="stat-wrapper">
  <div class="stat-innerwrapper">
    <h3><span></span></h3>
    <div class="stat-pik">
      <div></div>
      <div></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}