<style>
  .stat-wrapper {
    background-color: #FFF9F2;
    display: none;
  }
  .stat-pik {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

@media (max-width: 768px) {
  .stat-wrapper {
    display: block !important;
  }
}
</style>

<div class="stat-wrapper">
  <div class="stat-innerwrapper">
    <h3><span></span></h3>
    <div class="stat-pik">
      <div class="stat-textp">
        <img src="">
        <p></p>
      </div>
      <div class="stat-textp">
        <img src="">
        <p></p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}