<div class="t4s-code__html container">
  {% if product.metafields.custom.realpeopleverifiedresults != blank %}
    {{ product.metafields.custom.realpeopleverifiedresults }}
  {% endif %}
</div>



{% schema %}
  {
    "name": "Real Peep Ver Results",
    "settings": [

    ],
    "presets": [
      {
        "name": "Real Peep Ver Results",
        "category": "Any"
      }
    ]
  }
{% endschema %}