{% comment %} <style>
.uni-wrapper {
  
}
.uni-wrapper h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
}
.uni-outwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-top: 17px;
}
.uni-innerwrapper {
  display: flex;
  align-items: center;
}
.uni-innerwrapper img {
  /* height: 120px; */
  width: 120px;
}
.uni-innerwrapper h4 {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-left: 6px;
  max-width: 380px;
}

@media (max-width: 768px) {
  .uni-outwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
  }
  .uni-innerwrapper img {
    height: 86px;
    width: 86px;
  }
  .uni-wrapper h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .uni-innerwrapper h4 {
    font-size: 12px;
    line-height: 20px;
    max-width: 300px;
    padding-left: 12px;
  }
}
</style>


<div class="uni-wrapper">
  <h3>What makes it unique</h3>
  <div class="uni-outwrapper">
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Exfoliating_Toner_-_New_PDP_copy-05.png?v=1718111368">
      <h4>Its triple-action formula combines exfoliating, hydrating and brightening properties into one.</h4>
    </div>
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Exfoliating_Toner_-_New_PDP_copy-06.png?v=1718111369">
      <h4>It’s potent in removing dead skin cells and impurities yet gentle on the skin, ideal for daily use - making brighter skin and tighter pores a reality for all skin types!</h4>
    </div>
  </div>
</div> {% endcomment %}



<h3>Things to Remember</h3>
      <ul>
        <li>Store in a cool, dry place</li>
        <li>Avoid contact with eyes</li>
        <li>Always do a patch test</li>
      </ul>
  
      <h3>Full Ingredient List</h3>
        <h5>Aqua, Lactic acid, Niacinamide, Betaine, Propanediol, Glycerin, Phenoxyethanol, Ethylhexylglycerin, Octenidine HCl, PEG-40 hydrogenated castor oil, Sodium hyaluronate, Sodium phytate, Sodium hydroxide, Allergen free fragrance</h5>






<style>
.uni-wrapper {
  
}
.uni-wrapper h3 {
  color: #000;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
}
.uni-outwrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding-top: 17px;
}
.uni-innerwrapper {
  display: flex;
  align-items: center;
}
.uni-innerwrapper img {
  /* height: 120px; */
  width: 120px;
}
.uni-innerwrapper h4 {
  color: #1e1e1e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding-left: 6px;
  max-width: 380px;
}

@media (max-width: 768px) {
  .uni-outwrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E5E5E5;
  }
  .uni-innerwrapper img {
    height: 86px;
    width: 86px;
  }
  .uni-wrapper h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .uni-innerwrapper h4 {
    font-size: 12px;
    line-height: 20px;
    max-width: 300px;
    padding-left: 12px;
  }
}
</style>


<div class="uni-wrapper">
  <h3>What makes it unique</h3>
  <div class="uni-outwrapper">
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Exfoliating_Toner_-_New_PDP_copy-05.png?v=1718111368">
      <h4>Daily Exfoliation without proper hydration can strip your skin dry and lead to irritation. Our alcohol-free formula is loaded with humectants so exfoliation does not disrupt your skin’s pH. Brighter skin and tighter pores is now a reality for all skin types!</h4>
    </div>
    <div class="uni-innerwrapper">
      <img src="https://cdn.shopify.com/s/files/1/0609/6096/4855/files/Exfoliating_Toner_-_New_PDP_copy-06.png?v=1718111369">
      <div style="display: flex;flex-direction: column;">
        <h4>5% Lactic Acid gently exfoliates to remove dead skin cells, revealing brighter skin. </h4>
        <h4>Niacinamide regulates oil production, minimizes the look of pores and fades blemishes. </h4>
        <h4>Hyaluronic Acid keeps your skin hydrated, making this ideal for daily use. </h4>
      </div>
    </div>
  </div>
</div>