  
 <!--  <div class="collection-tabbing">
    <div class="collection-tabbing-single collection-tabbing-btn collection-active">SINGLES</div>
    <div class="collection-tabbing-double collection-tabbing-btn">ROUTINES & COMBOS</div>
  </div> -->
<script>

    $(document).ready(function(){
        $(".calling-tabings").after().html(" <div class='collection-tabbing'><div class='collection-tabbing-single collection-tabbing-btn collection-active'>SINGLES</div><div class='collection-tabbing-double collection-tabbing-btn'>ROUTINES & COMBOS</div></div>");
         });

     $(document).ready(function(){
        window.onload=function(){
        document.querySelector(".collection-active").click();
        };
    
     $(".collection-tabbing-single").click(function() {
      $(".t4s-pagination-wrapper").hide();
      //$(".t4s-product").show();
       // var newURL = location.href.split("=")[0];
       // window.history.pushState('object', document.title, newURL);
       $(".t4s-product").show();
       $(".t4s-product-price .t4s-price-from").parents(".t4s-product").addClass('collection-tab-active-first');
       $(".t4s-product-price ins").parents(".t4s-product").removeClass('collection-tab-active-second').css("display","none");
       
       $(this).addClass("collection-active");
       $('.collection-tabbing-double').removeClass("collection-active");
    });
    
    $(".collection-tabbing-double").click(function(){ 
       $(".t4s-pagination-wrapper").show();
       $(".t4s-product").show();
       $(".t4s-product-price ins.dcba").parents(".t4s-product").addClass('collection-tab-active-second');
       $(".t4s-product-price .t4s-price-from").parents(".t4s-product").removeClass('collection-tab-active-first').css("display","none");
       $(this).addClass("collection-active");
       $('.collection-tabbing-single').removeClass("collection-active");
        (function(history){
       var pushState = history.pushState;
       history.pushState = function(state) {
      // YOUR CUSTOM HOOK / FUNCTION
       var newURL = location.href.split("?")[0];
       window.history.pushState('object', document.title, newURL);
      return pushState.apply(history, arguments);
    };
    })(window.history);
    });
});
</script>
<!-- <style>
.collection-active{
         border:2px solid black !important;
         background: #f5f5f5 !important;
}
.collection-tabbing-heading{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    z-index: 31;
}
.collection-tabbing-single {
    margin-right: 8px;
}
.collection-tabbing{
      display: flex;
      justify-content: space-around;
      margin: 0 0 10px 0px;
}
.collection-tabbing-btn{ 
    width: 49%;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 1px;
    border-radius: 4px;
    text-align:center;
    color: #212121;
    background: transparent;
    cursor:pointer;
    border:2px solid;
    border-color: rgb(187, 175, 175, 0.33);
}
@media screen and (min-width:320px){
        .collection-tabbing-btn{

        }
}
@media screen and (min-width:600px) and (max-width: 767px){
    
}

@media screen and (min-width:768px) and (max-width: 1024px){
   
}
   
@media screen and (min-width: 1025px) and (max-width: 1400px){
   

}

@media screen and (min-width:1440px){
    
}

.collection-tab-active-first{
    display: block;
}
.collection-tab-active-second{
    display: block;
}
</style> -->
{% schema %}
  {
    "name": "Single/Double",
    "settings": [],
    "presets": [
      {
        "name": "Single/Double"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}