/*-----------------------------------------------------------------------------/
/ Custom Theme CSS
/-----------------------------------------------------------------------------*/
/*---------------- Global Custom CSS -------------------*/
.gokwik-checkout button:hover {
    background-color: #000;
    border-color: #000;
}

.customproduct1-template .t4s-product-form__variants .t4s-swatch__item.is-sw__color.is--selected, .customGroupProduct-template .t4s-product-form__variants .t4s-swatch__item.is-sw__color.is--selected{
    border: 2px solid #000 !important;
}

#chatbotContainer {
  bottom: 65px !important;
}
/* .mb_nav_tabs,.mb_nav_title:after{background-color:#000}.kalles_toolbar,.toolbar_count{background-color:#000!important}.vitc_img{height:auto!important;max-width:40%!important;vertical-align:middle!important}.nt_action .my-account ul{right:-72px}.divLoginForm{border:2px solid #000;padding:35px}#customer_register_link{font-weight:900!important;text-decoration:underline!important;color:#00f}#RecoverPassword,.sp-myaccount-nav ul{font-weight:900;text-decoration:underline}#RecoverPassword{color:#00f}.stamped-customer-logged-in{display:inline-flex}@media(max-width:1280px){.type_featured_collection .fera-productReviewsSummary.fera-widget-457325{min-height:55px}.template-collection .product-inner.pr .reviewContainerDiv,.type_featured_collection_owl .product-inner.pr .reviewContainerDiv{min-height:50px}}#anchor{scroll-margin-top:100px!important}#shopify-section-pr_summary .pr-description,#shopify-section-pr_summary .price_range{color:#000}#zestmoney-widget-trigger{text-align:left!important}#mc_embed_signup .indicates-required{margin-right:11%!important}.mb_nav_tabs{border-bottom:#000}.type_brand_list .flickity-button.next,.type_featured_collection_owl .prev_next_3 .flickity-button{border-color:#000;background-color:#000}.kalles_toolbar_label,.mb_nav_title,.toolbar_icon:before{color:#fff}.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .variations_button .flex.wrap .btn .fx-custom-btn-dark:hover{color:#fff!important}.type_featured_collection_owl .product-inner.pr .reviewContainerDiv{min-height:40px}.template-collection .product-inner.pr .reviewContainerDiv{min-height:50px}.type_featured_collection_owl .products-footer a.pr.button.view_more:hover{border-color:#000!important;background-color:#000!important;color:#fff!important}.type_featured_collection .product-inner.pr,.type_featured_collection_owl .product-inner.pr{background:#fff}.type_featured-product .btn-atc,.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn,.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn{padding:10px;margin-top:0}.template-collection .products .product-inner.pr .shop-all-qty-cart-btn{padding:10px 0;margin-top:0}.template-collection .product-inner.pr .shop-all-qty-cart-btn .wrap,.type_featured-product .btn-atc .flex.wrap,.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap,.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap{align-items:center;justify-content:space-between;background-color:#000;padding:0 20px}.template-collection .product-inner.pr .shop-all-qty-cart-btn .wrap button,.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button,.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button{background-color:transparent!important;border-color:transparent!important;padding:0;text-transform:uppercase;width:100%!important}.type_featured-product .btn-atc .flex.wrap button{background-color:transparent!important;border-color:transparent!important;padding:0;text-transform:uppercase}.template-collection .products .product-info .fx-tags-shop,.type_featured_collection .product-inner.pr .fx-tags-shop,.type_featured_collection_owl .product-inner.pr .fx-tags-shop{font-size:14px;font-weight:400;margin-bottom:0;padding-top:5px!important;line-height:1.5}.type_featured_collection .section-title h1,.type_featured_collection_owl .section-title h1{font-size:40px}.type_featured_collection .section-title,.type_featured_collection_owl .section-title{font-weight:600}.type_featured_collection .nt_pr h3.product-title,.type_featured_collection_owl .nt_pr h3.product-title{font-weight:700}.type_featured_collection .products.space_20 .nt_pr,.type_featured_collection_owl .products.space_20 .nt_pr{margin-top:20px}.type_featured-product .price-review{display:block}.type_featured_collection .nt_pr .price,.type_featured_collection_owl .nt_pr .price{color:#000!important;font-family:Poppins!important;font-weight:800!important;font-size:18px!important;display:inline-flex;align-items:center;margin-bottom:0;flex-direction:row-reverse}.template-collection .container .row .shopify-section .product .product-inner .product-info .fera-productReviewsSummary{margin-bottom:0!important}.template-collection .container .row .shopify-section .product .product-inner .product-info .price,.template-collection .container .row .shopify-section .product .product-inner .product-info .price ins{color:#000!important;font-family:Poppins!important;font-weight:600!important;font-size:18px!important;display:inline-flex;align-items:center;margin-bottom:0;flex-direction:row-reverse}.type_featured-product .price{color:#000!important;font-family:Poppins!important;font-weight:800;font-size:18px!important;display:inline-flex;align-items:center;margin-bottom:0;flex-direction:row-reverse}.btn_filter,.btn_sidebar,.cat_sortby>a,.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_1 span,.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_2 span,.sp-single .related.product-extra .wrap_title h3 span,.template-product .faq_section .faq_item .faq_ans p,.template-product .faq_section .faq_item.active h3,.type_featured-product .price ins,.type_featured_collection .nt_pr .price ins,.type_featured_collection_owl .nt_pr .price ins,del{color:#000!important}.grouped-pr-list-item__price del,.template-collection .container .row .shopify-section .product .product-inner .product-info .price del,.template-collection .price del,.template-collection .price_range del,.type_featured-product .price del,.type_featured_collection .price del,.type_featured_collection_owl .price del{margin-left:8px;font-weight:500}.type_featured_collection .pr_grid_item .product-image:hover .hover_button,.type_featured_collection_owl .pr_grid_item .product-image:hover .hover_button{opacity:0}.type_featured_collection_owl .nt_full .flickity-prev-next-button.next{right:7px}.type_featured_collection_owl .nt_full .flickity-prev-next-button.previous{left:7px}.type_featured_collection .section-subtitle,.type_featured_collection_owl .section-subtitle{font-size:15px;color:#000;font-weight:500}.type_brand_list .nt_banner_holder{margin-top:0}.type_brand_list .flickity-button.previous{left:-12px;background-color:#000;border-color:#000}.type_brand_list .flickity-button.next{right:-12px}.type_image_text h3{line-height:1.2}.type_image_text p{margin:0;color:#000;font-weight:500;font-size:16px}.cat_img_trust,.type_featured-product .summary{text-align:center}.type_featured-product .product__policies{display:none}.type_featured-product .summary p{margin:0;font-size:30px;color:#000;line-height:1.2;font-weight:600}.type_custom_html div.wrap_title{background-color:#fffcc2}.nt_action>a,.nt_action>div{padding:0 5px}.nt_action>a>i,.nt_action>div>a>i{line-height:1.5;font-weight:600}.sp-single .product-images .nt_labels{right:10px}.label_style_rounded .nt_labels{transform:scale(1);-webkit-transform:scale(1)}.label_style_rounded .nt_label{height:20px;width:135px;border-radius:unset}.mfp-move-horizontal.mfp-ready.mfp-bg,.mfp-move-vertical.mfp-ready.mfp-bg{z-index:9}.cat_img_trust img{height:110px;width:auto}.nt_mini_cart .mini_cart_header>.close_pp{height:20px;line-height:20px}.mini_cart_upsell{margin:10px!important}.mini_cart_upsell__title{padding:5px!important}.template-collection .products .product-info h3.product-title,.template-collection .products .product-info p.fx-tags-shop,.type_featured_collection_owl .nt_pr h3.product-title,.type_featured_collection_owl .nt_pr p.fx-tags-shop{min-height:20px!important;padding:0 5px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;line-clamp:1;-webkit-box-orient:vertical}@media (max-width:420px){.type_featured_collection_owl .product-inner.pr .fx-tags-shop{min-height:50px}.vitc_img{height:auto!important;max-width:100%!important;vertical-align:middle!important}}@media (max-width:1024px){.pr_grid_item .product-image:hover .hover_button,.type_featured_collection .pr_grid_item .product-image .hover_button,.type_featured_collection_owl .pr_grid_item .product-image .hover_button{display:none}.nt_labels .nt_label{font-size:18px!important}.template-collection .product-inner.pr .reviewContainerDiv,.type_featured_collection_owl .product-inner.pr .reviewContainerDiv{min-height:40px}}@media (min-width:768px) and (max-width:879px){.type_featured-product .flex.wrap,.type_featured_collection .flex.wrap,.type_featured_collection_owl .flex.wrap{flex-direction:column}.vitc_img{height:auto!important;max-width:100%!important;vertical-align:middle!important}.type_featured-product .flex.wrap button,.type_featured_collection .flex.wrap button,.type_featured_collection_owl .flex.wrap button{padding:5px 25px!important}}@media (max-width:767px){.customAccRender{display:inline-flex}.customAccRender .cart_des_1{margin-left:10px}.type_featured-product .btn-atc .flex.wrap button,.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button,.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button{font-size:16px}.type_featured-product .price,.type_featured_collection .nt_pr .price,.type_featured_collection_owl .nt_pr .price{font-size:16px;font-weight:600}.type_featured_collection_owl .products:not(.articles) .flickity-prev-next-button{top:40%}.type_image_text .row.equal_nt{position:relative}.type_image_text .row.equal_nt .txt_col_img{position:absolute;bottom:0;background-color:transparent;z-index:1;padding:50px 50px 0}.type_image_text .row.equal_nt .txt_col_img div{background-color:#fff}.type_image_text .row.equal_nt .nt_img_txt{padding-bottom:80px;background-color:#fffcc2!important}.type_featured_collection_owl .nt_full .flickity-prev-next-button.next{right:7px}.type_featured_collection_owl .nt_full .flickity-prev-next-button.previous{left:7px}.type_brand_list .flickity-prev-next-button.next{right:0}.type_brand_list .flickity-prev-next-button.previous{left:0}.type_brand_list .flickity-prev-next-button{transform:scale(1.5)}.type_about_us h1{font-size:26px;font-weight:600;line-height:31px}.type_featured-product .summary p,.type_image_text h3{font-size:20px;line-height:23px}.type_featured_collection h3.section-title span,.type_featured_collection_owl h3.section-title span{font-size:19px;font-weight:600}.type_featured_collection .nt_pr h3.product-title,.type_featured_collection_owl .nt_pr h3.product-title{font-size:17px}.type_brand_list h3.section-title span,.type_custom_html .section-title{font-size:22px}.type_featured-product .btn-atc{padding:5px 10px 40px}.type_image_text .flex{padding-top:30px;padding-bottom:30px}.type_image_text h3{font-weight:600}.type_image_text p{font-size:14px;line-height:18px}.nt_se_165216503784a4fccf .wrap_title.des_title_1{background-color:#ffece5;padding:32px 0;margin-bottom:-20px}.featured_product_se .entry-summary{margin-top:25px}.type_featured-product .single_add_to_cart_button{margin-top:0}.type_featured-product .price{font-size:16px!important}.template-collection .products .product-info h3.product-title,.template-collection .products .product-info p.fx-tags-shop,.type_featured_collection_owl .nt_pr h3.product-title,.type_featured_collection_owl .nt_pr p.fx-tags-shop{min-height:50px!important;-webkit-line-clamp:2;line-clamp:2}.template-collection .product-inner.pr .reviewContainerDiv,.type_featured_collection_owl .product-inner.pr .reviewContainerDiv{min-height:50px}}@media (min-width:768px) and (max-width:1024px){.customAccRender .cart_des_1{display:none}}@media (min-width:375px){#nt_cart_canvas{width:375px}}.type_prs_countd_deal .nt_pr h3.product-title{min-height:46px!important}.type_prs_countd_deal .fx-custom-btn-dark{width:100%!important;border-radius:0!important}.type_featured_collection_owl .products-footer{margin-top:15px!important}.template-product .faq_section .faq_item{border:#e85a28!important;background:#e85a28!important}.template-product .faq_section .faq_item.active{background:0 0!important;border:2px solid #e85a28!important}.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_1 span{border:1px solid #000!important}.template-collection .container .row .shopify-section .product .product-inner .product-info .pr-det{justify-content:center!important}.variations.style__rectangle .swatch:not(.is-color) li.is-selected,.variations.style__rectangle .swatch:not(.is-color) li.is-selected-nt,.variations.style__rectangle .swatch:not(.is-color) li:hover{border-color:#ff4e00!important;background-color:#ff4e00!important}.variations.style__rectangle .swatch:not(.is-color) li{border:1px solid #ff4e00!important}.toolbar_count{color:#fff!important}.template-product .faq_section .faq_item .faq_ans p {text-align: left;}.template-product .faq_section .faq_item .faq_ans h4{text-align: left;}
 */

.mb_nav_tabs,
.mb_nav_title:after {
	background-color: #000
}

.kalles_toolbar,
.toolbar_count {
	background-color: #000 !important
}

.vitc_img {
	height: auto !important;
	max-width: 40% !important;
	vertical-align: middle !important
}

.nt_action .my-account ul {
	right: -72px
}

.divLoginForm {
	border: 2px solid #000;
	padding: 35px
}

#customer_register_link {
	font-weight: 900 !important;
	text-decoration: underline !important;
	color: #00f
}

#RecoverPassword,
.sp-myaccount-nav ul {
	font-weight: 900;
	text-decoration: underline
}

#RecoverPassword {
	color: #00f
}

.stamped-customer-logged-in {
	display: inline-flex
}

@media(max-width:1280px) {
	.type_featured_collection .fera-productReviewsSummary.fera-widget-457325 {
		min-height: 55px
	}
}

#anchor {
	scroll-margin-top: 100px !important
}

#shopify-section-pr_summary .pr-description,
#shopify-section-pr_summary .price_range {
	color: #000
}

#zestmoney-widget-trigger {
	text-align: left !important
}

#mc_embed_signup .indicates-required {
	margin-right: 11% !important
}

.mb_nav_tabs {
	border-bottom: #000
}

.type_brand_list .flickity-button.next,
.type_featured_collection_owl .prev_next_3 .flickity-button {
	border-color: #000;
	background-color: #000
}

.kalles_toolbar_label,
.mb_nav_title,
.toolbar_icon:before {
	color: #fff
}

.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .variations_button .flex.wrap .btn .fx-custom-btn-dark:hover {
	color: #fff !important
}

.template-collection .product-inner.pr .reviewContainerDiv {
	min-height: 0px
}

.type_featured_collection_owl .products-footer a.pr.button.view_more:hover {
	border-color: #000 !important;
	background-color: #000 !important;
	color: #fff !important
}

.type_featured_collection .product-inner.pr,
.type_featured_collection_owl .product-inner.pr {
	background: #fff
}

.type_featured-product .btn-atc,
.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn,
.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn {
	padding: 10px;
	margin-top: 0
}

.template-collection .products .product-inner.pr .shop-all-qty-cart-btn {
	padding: 10px 0;
	margin-top: 0
}

.template-collection .product-inner.pr .shop-all-qty-cart-btn .wrap,
.type_featured-product .btn-atc .flex.wrap,
.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap,
.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap {
	align-items: center;
	justify-content: space-between;
	background-color: #000;
	padding: 0 20px
}

.template-collection .product-inner.pr .shop-all-qty-cart-btn .wrap button,
.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button,
.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button {
	background-color: transparent !important;
	border-color: transparent !important;
	padding: 0;
	text-transform: uppercase;
	width: 100% !important
}

.type_featured-product .btn-atc .flex.wrap button {
	background-color: transparent !important;
	border-color: transparent !important;
	padding: 0;
	text-transform: uppercase
}

.template-collection .products .product-info .fx-tags-shop,
.type_featured_collection .product-inner.pr .fx-tags-shop,
.type_featured_collection_owl .product-inner.pr .fx-tags-shop {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 0;
	padding-top: 5px !important;
	line-height: 1.5
}

.type_featured_collection .section-title h1,
.type_featured_collection_owl .section-title h1 {
	font-size: 40px
}

.type_featured_collection .section-title,
.type_featured_collection_owl .section-title {
	font-weight: 600
}

.type_featured_collection .nt_pr h3.product-title,
.type_featured_collection_owl .nt_pr h3.product-title {
	font-weight: 700
}

.type_featured_collection .products.space_20 .nt_pr,
.type_featured_collection_owl .products.space_20 .nt_pr {
	margin-top: 20px
}

.type_featured-product .price-review {
	display: block
}

.type_featured_collection .nt_pr .price,
.type_featured_collection_owl .nt_pr .price {
	color: #000 !important;
	font-family: Poppins !important;
	/* font-weight: 800 !important; */
	font-size: 16px !important;
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	flex-direction: row-reverse
}

.template-collection .container .row .shopify-section .product .product-inner .product-info .fera-productReviewsSummary {
	margin-bottom: 0 !important
}

.template-collection .container .row .shopify-section .product .product-inner .product-info .price,
.template-collection .container .row .shopify-section .product .product-inner .product-info .price ins {
	color: #000 !important;
	font-family: Poppins !important;
	font-weight: 600 !important;
	font-size: 18px !important;
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	flex-direction: row-reverse
}

.type_featured-product .price {
	color: #000 !important;
	font-family: Poppins !important;
	font-weight: 800;
	font-size: 18px !important;
	display: inline-flex;
	align-items: center;
	margin-bottom: 0;
	flex-direction: row-reverse
}

.btn_filter,
.btn_sidebar,
.cat_sortby>a,
.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_1 span,
.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_2 span,
.sp-single .related.product-extra .wrap_title h3 span,
.template-product .faq_section .faq_item .faq_ans p,
.template-product .faq_section .faq_item.active h3,
.type_featured-product .price ins,
.type_featured_collection .nt_pr .price ins,
.type_featured_collection_owl .nt_pr .price ins,
del {
	color: #000 !important
}

.grouped-pr-list-item__price del,
.template-collection .container .row .shopify-section .product .product-inner .product-info .price del,
.template-collection .price del,
.template-collection .price_range del,
.type_featured-product .price del,
.type_featured_collection .price del,
.type_featured_collection_owl .price del {
	margin-left: 8px;
	font-weight: 500
}

.type_featured_collection .pr_grid_item .product-image:hover .hover_button,
.type_featured_collection_owl .pr_grid_item .product-image:hover .hover_button {
	opacity: 0
}

.type_featured_collection_owl .nt_full .flickity-prev-next-button.next {
	right: 7px
}

.type_featured_collection_owl .nt_full .flickity-prev-next-button.previous {
	left: 7px
}

.type_featured_collection .section-subtitle,
.type_featured_collection_owl .section-subtitle {
	font-size: 15px;
	color: #000;
	font-weight: 500
}

.type_brand_list .nt_banner_holder {
	margin-top: 0
}

.type_brand_list .flickity-button.previous {
	left: -12px;
	background-color: #000;
	border-color: #000
}

.type_brand_list .flickity-button.next {
	right: -12px
}

.type_image_text h3 {
	line-height: 1.2
}

.type_image_text p {
	margin: 0;
	color: #000;
	font-weight: 500;
	font-size: 16px
}

.cat_img_trust,
.type_featured-product .summary {
	text-align: center
}

.type_featured-product .product__policies {
	display: none
}

.type_featured-product .summary p {
	margin: 0;
	font-size: 30px;
	color: #000;
	line-height: 1.2;
	font-weight: 600
}

.type_custom_html div.wrap_title {
	background-color: #fffcc2
}

.nt_action>a,
.nt_action>div {
	padding: 0 5px
}

.nt_action>a>i,
.nt_action>div>a>i {
	line-height: 1.5;
	font-weight: 600
}

.sp-single .product-images .nt_labels {
	right: 10px
}

.label_style_rounded .nt_labels {
	transform: scale(1);
	-webkit-transform: scale(1)
}

.label_style_rounded .nt_label {
	height: 20px;
	width: 135px;
	border-radius: unset
}

.mfp-move-horizontal.mfp-ready.mfp-bg,
.mfp-move-vertical.mfp-ready.mfp-bg {
	z-index: 9
}

.cat_img_trust img {
	height: 110px;
	width: auto
}

.nt_mini_cart .mini_cart_header>.close_pp {
	height: 20px;
	line-height: 20px
}

.mini_cart_upsell {
	margin: 10px !important
}

.mini_cart_upsell__title {
	padding: 5px !important
}

.template-collection .products .product-info h3.product-title,
.template-collection .products .product-info p.fx-tags-shop,
.type_featured_collection_owl .nt_pr h3.product-title,
.type_featured_collection_owl .nt_pr p.fx-tags-shop {
	min-height: 20px !important;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical
}

@media (max-width:420px) {
	.type_featured_collection_owl .product-inner.pr .fx-tags-shop {
		min-height: 50px
	}

	.vitc_img {
		height: auto !important;
		max-width: 100% !important;
		vertical-align: middle !important
	}
}

@media (max-width:1024px) {

	.pr_grid_item .product-image:hover .hover_button,
	.type_featured_collection .pr_grid_item .product-image .hover_button,
	.type_featured_collection_owl .pr_grid_item .product-image .hover_button {
		display: none
	}

/* 	.nt_labels .nt_label {
		font-size: 18px !important
	} */
}

@media (min-width:768px) and (max-width:879px) {

	.type_featured-product .flex.wrap,
	.type_featured_collection .flex.wrap,
	.type_featured_collection_owl .flex.wrap {
		flex-direction: column
	}

	.vitc_img {
		height: auto !important;
		max-width: 100% !important;
		vertical-align: middle !important
	}

	.type_featured-product .flex.wrap button,
	.type_featured_collection .flex.wrap button,
	.type_featured_collection_owl .flex.wrap button {
		padding: 5px 25px !important
	}
}

@media (max-width:767px) {
	.customAccRender {
		display: inline-flex
	}

	.customAccRender .cart_des_1 {
		margin-left: 10px
	}

	.type_featured-product .btn-atc .flex.wrap button,
	.type_featured_collection .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button,
	.type_featured_collection_owl .product-inner.pr .shop-all-qty-cart-btn .flex.wrap button {
		font-size: 16px
	}

	.type_featured-product .price,
	.type_featured_collection .nt_pr .price,
	.type_featured_collection_owl .nt_pr .price {
		font-size: 16px;
		font-weight: 600
	}

	.type_featured_collection_owl .products:not(.articles) .flickity-prev-next-button {
		top: 40%
	}

	.type_image_text .row.equal_nt {
		position: relative
	}

	.type_image_text .row.equal_nt .txt_col_img {
		position: absolute;
		bottom: 0;
		background-color: transparent;
		z-index: 1;
		padding: 50px 50px 0
	}

	.type_image_text .row.equal_nt .txt_col_img div {
		background-color: #fff
	}

	.type_image_text .row.equal_nt .nt_img_txt {
		padding-bottom: 80px;
		background-color: #fffcc2 !important
	}

	.type_featured_collection_owl .nt_full .flickity-prev-next-button.next {
		right: 7px
	}

	.type_featured_collection_owl .nt_full .flickity-prev-next-button.previous {
		left: 7px
	}

	.type_brand_list .flickity-prev-next-button.next {
		right: 0
	}

	.type_brand_list .flickity-prev-next-button.previous {
		left: 0
	}

	.type_brand_list .flickity-prev-next-button {
		transform: scale(1.5)
	}

	.type_about_us h1 {
		font-size: 26px;
		font-weight: 600;
		line-height: 31px
	}

	.type_featured-product .summary p,
	.type_image_text h3 {
		font-size: 20px;
		line-height: 23px
	}

	.type_featured_collection h3.section-title span,
	.type_featured_collection_owl h3.section-title span {
		font-size: 19px;
		font-weight: 600
	}

	.type_featured_collection .nt_pr h3.product-title,
	.type_featured_collection_owl .nt_pr h3.product-title {
		font-size: 17px
	}

	.type_brand_list h3.section-title span,
	.type_custom_html .section-title {
		font-size: 22px
	}

	.type_featured-product .btn-atc {
		padding: 5px 10px 40px
	}

	.type_image_text .flex {
		padding-top: 30px;
		padding-bottom: 30px
	}

	.type_image_text h3 {
		font-weight: 600
	}

	.type_image_text p {
		font-size: 14px;
		line-height: 18px
	}

	.nt_se_165216503784a4fccf .wrap_title.des_title_1 {
		background-color: #ffece5;
		padding: 32px 0;
		margin-bottom: -20px
	}

	.featured_product_se .entry-summary {
		margin-top: 25px
	}

	.type_featured-product .single_add_to_cart_button {
		margin-top: 0
	}

	.type_featured-product .price {
		font-size: 16px !important
	}

	.template-collection .products .product-info h3.product-title,
	.template-collection .products .product-info p.fx-tags-shop,
	.type_featured_collection_owl .nt_pr h3.product-title,
	.type_featured_collection_owl .nt_pr p.fx-tags-shop {
		min-height: 50px !important;
		-webkit-line-clamp: 2;
		line-clamp: 2
	}
}

@media (min-width:768px) and (max-width:1024px) {
	.customAccRender .cart_des_1 {
		display: none
	}
}

@media (min-width:375px) {
	#nt_cart_canvas {
		width: 375px
	}
}

.type_prs_countd_deal .nt_pr h3.product-title {
	min-height: 46px !important
}

.type_prs_countd_deal .fx-custom-btn-dark {
	width: 100% !important;
	border-radius: 0 !important
}

.type_featured_collection_owl .products-footer {
	margin-top: 15px !important
}

.template-product .faq_section .faq_item {
	border: #e85a28 !important;
}

.template-product .faq_section .faq_item.active {
	/* background: 0 0 !important;
	border: 2px solid #e85a28 !important */
}

.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_1 span {
	border: 1px solid #000 !important
}

.template-collection .container .row .shopify-section .product .product-inner .product-info .pr-det {
	justify-content: center !important
}

.variations.style__rectangle .swatch:not(.is-color) li.is-selected,
.variations.style__rectangle .swatch:not(.is-color) li.is-selected-nt,
.variations.style__rectangle .swatch:not(.is-color) li:hover {
	border-color: #ff4e00 !important;
	background-color: #ff4e00 !important
}

.variations.style__rectangle .swatch:not(.is-color) li {
	border: 1px solid #ff4e00 !important
}

.toolbar_count {
	color: #fff !important
}

.template-product .faq_section .faq_item .faq_ans p {
	text-align: left;
}

.template-product .faq_section .faq_item .faq_ans h4 {
	text-align: left;
}

/* New Layout */
/* unique desktop*/
.unique .faq_item {
    padding: 1px 16px;
    }
   .faq_item.custom {
    background: #F7F7F7!important;
    padding-left: 0;
 }
 
 .faq_item.custom .faq_que h3 {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #000 !important;
    font-size: 24px;
    position: relative;
    z-index: 1;
 }
 
 .faq_item.custom .faq_que h3 .img_div {
    margin-right: 28px;
 }
 
 .faq_item.custom .faq_que h3:before {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    vertical-align: middle;
    position: absolute;
    content: "";
    right: 18px;
    z-index: 1;
    transform: rotate(45deg);
 }
 .faq_item.custom .faq_que h3:after {
    background: #E85A28;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    content: "";
    border-radius: 100%;
 }
 
 .faq_item.custom.active {
    background: #F7F7F7!important;
    border: none !important;
 }
 
 .faq_item.custom {
    padding-right:0 !important;
    margin-bottom: -9px !important;
 }
 
 .faq_item.custom .faq_que h3 {
    padding-right: 46px;
 }
 .unique .unique-header {
    font-size:28px; 
 }
 .unique {
    margin-bottom: 4rem!important;
 }
 .unique.header h2 {
    text-align: center;
    color: #E85A28;
    margin-bottom: -3rem;
    font-size: 25px;
 }
 .faq_item.custom {
    max-width: 1200px;
    margin: 19px auto;
 }
 .unique .uniqueimg {
    width: 58%;
 }

 
 @media (max-width:1199px) {
    .faq_item.custom .faq_que h3 {
        padding-right: 46px;
    }
 }
 
 @media (max-width:767px) {
    .faq_item.custom .faq_que h3 {
        padding-right: 35px;
        font-size: 18px;
    }
    .unique .uniqueimg {
        width: 85%;
     }
    .faq_item {
       margin: 19px 0px !important;
       
   }
   .unique .unique-header {
       color:#E85A28; 
       font-size:20px !important; 
       margin-top:54px !important;
   }
   .accordion-unique {
    width: 0;
    margin: 0;
 }
 .unique {
    margin-bottom: 60px;
   }
   .unique.header h2 {
    font-size: 20px;
 }
 .faq_item.custom {
    max-width: 1200px;
    margin: 19px 63px;
 }
    
 }


 /* results */

 /* results */
.verified-results {
    
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.verified-results .img_div {
    width: 50%;
}

.verified-results .rgt_content_div {
    width: 50%;
}

.verified-results .img_div img {
    width: 100%;
}

.verified-results .img_div {
    text-align: center;
    background: #F7F7F7;
}

.verified-results .rgt_content_div button.tablinks:last-child {
    display: none !important;
}

.verified-results .rgt_content_div div.tabcontent:last-child {
    display: none !important;
}

.verified-results .rgt_content_div {
    background: #F7F7F7;
}

.verified-results .rgt_content_div .tab.row {
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
}

.verified-results .rgt_content_div .tab.row button {
    color: #6D6E71;
    font-size: 16px;
    background: none !important;
    border-bottom: 2px solid transparent;
    padding: 10px 10px 15px;
}

.verified-results .rgt_content_div .tab.row button.active {
    color: #000000;
    border-bottom: 2px solid #D76339;
}

.verified-results .rgt_content_div .tabcontent {
    border: none !important;
    padding-top: 15px;
}

.verified-results .rgt_content_div {
    width: 50%;
    background: #F7F7F7;
    padding: 15px 10px;
}
   
.custom_tabbing {
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 1200px;
    margin: 15px 53px;
    padding: 10px;
}

.custom_tabbing .img_div {
    width: 50%;
}

.custom_tabbing .rgt_content_div {
    width: 50%;
}

.custom_tabbing .img_div img {
    width: 100%;
}

.custom_tabbing .img_div {
    text-align: center;
    background: #F7F7F7;
}

.custom_tabbing .rgt_content_div button.tablinks:last-child {
    display: none !important;
}

.custom_tabbing .rgt_content_div div.tabcontent:last-child {
    display: none !important;
}

.custom_tabbing .rgt_content_div {
    background: #F7F7F7;
}

.custom_tabbing .rgt_content_div .tab.row {
    text-align: center;
    display: flex;
    justify-content: center;
    border: none;
}

.custom_tabbing .rgt_content_div .tab.row button {
    color: #6D6E71;
    font-size: 16px;
    background: none !important;
    border-bottom: 2px solid transparent;
    padding: 10px 10px 15px;
}

.custom_tabbing .rgt_content_div .tab.row button.active {
    color: #000000;
    border-bottom: 2px solid #D76339;
}

.custom_tabbing .rgt_content_div .tabcontent {
    border: none !important;
    padding-top: 15px;
}

.custom_tabbing .rgt_content_div {
    width: 50%;
    background: #F7F7F7;
    padding: 15px 10px;
}
h4.results-header {
    margin-bottom: 3rem;
}
.results-header {
    font-size:25px; 
    color:#E85A28; 
    
}
.heading {
    text-align: center;
}
.heading h2 {
    color: #E85A28;
}
@media (max-width:767px) {
    .results-header {
        font-size:20px; 
        
    }
    .verified-results {
        flex-wrap: wrap;
    }
    
    .verified-results .img_div {
        width: 100%;
    }

    .verified-results .rgt_content_div {
        width: 100%;
    }

    /* new combo*/

    .custom_tabbing {
        flex-wrap: wrap;
        margin: 0;
    }
    
    .custom_tabbing .img_div {
        width: 100%;
    }

    .custom_tabbing .rgt_content_div {
        width: 100%;
    }
    .accordion-unique {
        width: 0;
        margin: 0;
    }
.heading h2 {
        font-size: 20px;
    }
}


/* benefits */
.icon-design .main_list_bx {
    text-align: center;
}
.icon-design {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon-design .main_list_bx .img_lst_wrp {
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-design .main_list_bx .img_desc_list p {
    font-size: 18px;
    color: #6D6E71;
}
@media (max-width:767px) {
    .icon-design .main_list_bx .img_lst_wrp {
        height: auto;
    }
   
    .newdesign .main-intro .icon-design {
        flex-wrap: wrap;
    }

    .icon-design .main_list_bx {
        text-align: left;
    }

    .newdesign .main-intro .icon-design .main_list_bx .img_lst_wrp {
        width: 90px;
        margin-right: 16px;
    }

    .icon-design .main_list_bx .img_desc_list h4 {
        text-align: left;
        font-size: 20px;
    }

    .icon-design .main_list_bx .img_desc_list p {
        font-size: 16px;
    }
.icon-design .main_list_bx {
text-align: left;
display: flex;
}


}
/* icons */
    .small-icons .icons-header {
        font-size:28px; 
        color:#E85A28; 
    }
    .per_page_img_bg {
        /* background: #F7F7F7;
        padding: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        background: #F7F7F7;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0;
    }
    .per_page_img_bg span.pr_page_image_section_2_desc {
        width: 25% ;
        padding: 20px 20px;
        text-align: center;
    }
    .per_page_img_bg span.pr_page_image_section_2_desc h3 {
        font-size: 18px;
        color: #6D6E71;
        line-height: 110%;
        margin-top: 11px;
    }
    @media (max-width:767px) {
        .per_page_img_bg span.pr_page_image_section_2_desc {
            width: 50% ;
            padding: 20px 10px ;
            text-align: center ;
        }
            .small-icons .icons-header {
                color:#E85A28; 
                font-size:20px;
                margin-top:54px;
            }
            .small-icons {
                width: 100%;
            }
            h4.icons-header {
                font-size: 23px;
            }
            .per_page_img_bg{
                margin: 1rem -1rem !important;   
            }
            .per_page_img_bg span.pr_page_image_section_2_desc h3 {
                font-size: 14px !important;
            }
            .item-journey{
                width: 100% !important;
                margin: 15px 0 !important;
            }
        }
 /* product journey */
 .accordion-unique {
    width: 1100px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.unique-section {
width: 100%;
}
h4 {
  text-align: center;
  color: #E85A28;
  font-size: 27px;
}
.item-journey {
  display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 36px;
    row-gap: 33px;
    background: #FCFCC8;
    margin: 1rem 4rem;
width: 1079px;
}
.img_div {
  width: 115px;
} 
.number {
  color: #ced4da;
}
.text {
  font-size: 22px;
    color: #E85A28;
    font-weight: 500;
}
.text{
margin-bottom: 0;
}
.icon {
    width: 22px;
    height: 22px;
    stroke: #fff;
    cursor: pointer;
    margin: 22px;
    border-radius: 50%;
    background: #BCBEC0;
}
 .hidden-box {
  grid-column: 2;
   display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-box ul {
  color: #868e96;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 20px;
}
.open {
/*   border-top: 4px solid #E85A28;  */
}
.open .number, .open .text {
  color: #E85A28;
}
.open .hidden-box {
  display: block;
  background-color: #fff;
}
.icon-rotate {
  transform: rotate(180deg);
  transition: 0.3s;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 20px;
    margin-top: 0;
  }
 }
@media (max-width:767px) {
  .accordion-unique {
    margin: 0;
width: 100%
  }

 }
.accordion-unique .item-journey p {
  text-align: center;
 }
 /* random */
.newLayout .price_range{
        margin-top: 13px;
        margin-left: 5px;
    }
 .newLayout .product_title {
    font-size: 25px !important;
    font-weight: 600 !important;
    }
    .newLayout .prod_sub {
        color: #6d6e71 !important;
        font-weight: 400 !important;
        margin-top: 2px !important;
font-size:15px;
    }
    @media (max-width:767px) {
        .newLayout .prod_sub {
            margin-left: -11px;
         }
         .newLayout .product_title {
             font-size: 18px !important;
             margin-left: -11px;
             font-weight: 500 !important;
         }
 .newLayout .price_range {
            margin-top: 0;
            margin-left: -11px;
        }
        .newdesign .new h4 {
            font-size: 20px !important;
        }
     
    }
    .newdesign .new h4 {
        text-align: center;
        font-size: 28px;
        color: #e85a28;
        margin-bottom: -7px;
        margin-top: 40px;
    }

/*---------------- Custom CSS for only desktop -------------------*/
@media (min-width: 1025px) {
  
}

/*---------------- Custom CSS for tablet, mobile -------------------*/
@media (max-width: 1024px) {
  
}

/*---------------- Custom CSS for only tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  
}

/*---------------- Custom CSS for only mobile -------------------*/
@media (max-width: 767px){
  
}

.sp-single .how_to_use {
  text-align:center;
  position:relative;
}
.sp-single .how_to_use:before {
  content:'';
  position:absolute;
  background-image:url('assest/IndProductPage-FTSAKI13-11-Desktop-02.png');
  background-repeat:no-repeat;
}
.fx_match_products_main .product-info .product-title {
	font-family: 'Poppins';
	color: #5353bb;
    width: 130px;
    height: 90px;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #5353bb;
    border-radius: 54% 46% 63% 37% / 39% 34% 66% 61%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 15px;
    margin-top: 15px;
}

/*--------------19-01-2022 : Skincare Banner----------------*/

.SlideshowWrapper.nt_se_16397353802e83472d {
    margin-bottom: auto !important;
}
.fx-banner-mob {
	background-color: #bfedeb;
	padding: 50px 0px;
}

.fx-banner-text {
	text-align: center;
}


.fx-banner-title {
	color: #5f51a6;
	font-weight: bold;
	font-size: 28px;
  	line-height: 25px;
}

.fx-banner-desc {
	color: #5f51a6;
  	font-size: 18px;
  	line-height: 20px;
}

.fx-banner-text .fx-banner-title {
	margin-bottom: 50px;
}

.fx-skincare-slider img {
  margin-top: 30px;
  max-width: 100%;
}

/* .slick-list .slick-track{
  padding-left: 43%;
} */

/* the slides */
.slick-slide {
  margin: 0 2vw;
  }
/* the parent */
/* .slick-list {
  margin: 0 -3vw;
  } */

@media (min-width: 768px) {
.fx-banner-mob {
  display: none;
  }
}

@media (max-width: 767px) {
  
.fx-banner-desk {
  display: none;
  }


  .template-collection .products .product-info p.fx-tags-shop{
    -webkit-line-clamp:1 !important;
    min-height:1px ! important;
  }

}

.sp-single .pr_page_section_2_main .section_2_col .section_2_col_2 .sub_col_1 span {
    border: 1px solid #000!important;
}

.template-collection .products .product-info h3.t4s-product-title.product-title {
    min-height:45px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight:700 !important; 
    line-height:21px;
    margin-right: 6px;
}
@media screen and (min-width:550px) {
   .products .product-info h3.t4s-product-title.product-title{
      min-height: 25px !important;
  }
}

@media screen and (min-width:319px) and (max-width:481px){
  .product-info .product-title, .product-info{
      min-height: 41px!important;
  }
  .template-collection .fx-tags-shop{
  font-size: 9px !important;
}
}
.template-index .routine_slider_main .product-tabs-content .products-grid-item{
    padding: 0 !important;
}