/* Elessi */
.flickity-enabled {
  --slider-dot-width: 13px;
  --slider-dot-height: 13px;
  --slider-dot-background: #fff;
  --slider-dot-border: #000;
  --slider-dot-background-active: #000;
}
.flickity-enabled {
  --slider-dot-width: 8px;
  --slider-dot-height: 8px;
}
.flickity-enabled .dot.is-selected {
  --slider-dot-width: 30px;
  width: 30px;
  height: 8px;
  border-radius: 5px;
  margin: 0 5px;
  background-color: #000000;
  opacity: 1 !important;
}
.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #222222;
  opacity: 0.5 !important;
  transition: all 0.3s;
  cursor: pointer;
}
ol.flickity-page-dots {
  position: absolute;
  bottom: 20px;
}
.flickity-enabled .dot.is-selected {
  --slider-dot-background: #000;
  --slider-dot-border: #000;
}
.flickity-enabled .dot:not(.is-selected) {
  --slider-dot-background: #fff !important;
  --slider-dot-border: #fff;
  opacity: 1;
}
.main-carousel-collection button.flickity-button {
  display: none !important;
}

@media (max-width: 768px) {
  ol.flickity-page-dots {
    position: absolute;
    bottom: 0px;
  }
}
